## Feature Construction Issue
Previously in the notebook 'constructing features', it was seen that the value for 8 AM rentals was not missing for all the stations. This means there must have been some issue with the way these lagged rental values were created!

### Re-creating the old method 
Here, the normal shift(1) method is used for generating lagged varaibles, as it was done in the previous *Constructing_Features* notebook.

In [1]:
# Importing
import pandas as pd
selected_rentals = pd.read_csv(r"C:\Users\singh\Desktop\TUD (All Semesters)\Courses - Semester 5 (TU Dresden)\Research Task - Spatial Modelling\Code\rentals_near200_st.csv")

# remove data for 2023, sort by station, remove [name, lat, lng]
selected_rentals = selected_rentals[["#_rentals", "datetime", "year", "month", "day", "hour", "ID", 'coordinates']]
selected_rentals = selected_rentals[~(selected_rentals["year"] == 2023)]
selected_rentals.sort_values(by=["ID","year","month","day","hour"], ignore_index=True, inplace=True)
selected_rentals[:15]

,#_rentals,datetime,year,month,day,hour,ID,coordinates
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272)
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272)
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272)
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272)
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272)
5,0,2024-01-01 18:00:00.000,2024,1,1,18,0,POINT (-73.9383 40.7923272)
6,0,2024-01-01 20:00:00.000,2024,1,1,20,0,POINT (-73.9383 40.7923272)
7,3,2024-01-02 08:00:00.000,2024,1,2,8,0,POINT (-73.9383 40.7923272)
8,0,2024-01-02 10:00:00.000,2024,1,2,10,0,POINT (-73.9383 40.7923272)
9,6,2024-01-02 12:00:00.000,2024,1,2,12,0,POINT (-73.9383 40.7923272)
10,6,2024-01-02 14:00:00.000,2024,1,2,14,0,POINT (-73.9383 40.7923272)
11,7,2024-01-02 16:00:00.000,2024,1,2,16,0,POINT (-73.9383 40.7923272)
12,1,2024-01-02 18:00:00.000,2024,1,2,18,0,POINT (-73.9383 40.7923272)
13,1,2024-01-02 20:00:00.000,2024,1,2,20,0,POINT (-73.9383 40.7923272)
14,3,2024-01-03 08:00:00.000,2024,1,3,8,0,POINT (-73.9383 40.7923272)

In [2]:
# Introducing lagged rentals
selected_rentals["#_rentals_lag_1"] = selected_rentals["#_rentals"].shift(1)
selected_rentals[:15]

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272),0.0
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272),0.0
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272),0.0
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272),0.0
5,0,2024-01-01 18:00:00.000,2024,1,1,18,0,POINT (-73.9383 40.7923272),0.0
6,0,2024-01-01 20:00:00.000,2024,1,1,20,0,POINT (-73.9383 40.7923272),0.0
7,3,2024-01-02 08:00:00.000,2024,1,2,8,0,POINT (-73.9383 40.7923272),0.0
8,0,2024-01-02 10:00:00.000,2024,1,2,10,0,POINT (-73.9383 40.7923272),3.0
9,6,2024-01-02 12:00:00.000,2024,1,2,12,0,POINT (-73.9383 40.7923272),0.0
10,6,2024-01-02 14:00:00.000,2024,1,2,14,0,POINT (-73.9383 40.7923272),6.0
11,7,2024-01-02 16:00:00.000,2024,1,2,16,0,POINT (-73.9383 40.7923272),6.0
12,1,2024-01-02 18:00:00.000,2024,1,2,18,0,POINT (-73.9383 40.7923272),7.0
13,1,2024-01-02 20:00:00.000,2024,1,2,20,0,POINT (-73.9383 40.7923272),1.0
14,3,2024-01-03 08:00:00.000,2024,1,3,8,0,POINT (-73.9383 40.7923272),1.0

In [3]:
# Checking for 8am values for all IDs
selected_rentals[(selected_rentals["hour"] == 8) & (selected_rentals["day"] == 1)]

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN
217,9,2024-02-01 08:00:00.000,2024,2,1,8,0,POINT (-73.9383 40.7923272),0.0
420,3,2024-03-01 08:00:00.000,2024,3,1,8,0,POINT (-73.9383 40.7923272),0.0
637,3,2024-04-01 08:00:00.000,2024,4,1,8,0,POINT (-73.9383 40.7923272),1.0
847,0,2024-01-01 08:00:00.000,2024,1,1,8,9,POINT (-73.94594 40.7817212),2.0
...,...,...,...,...,...,...,...,...,...
168343,0,2024-04-01 08:00:00.000,2024,4,1,8,2065,POINT (-73.92037 40.812299),0.0
168553,0,2024-01-01 08:00:00.000,2024,1,1,8,2074,POINT (-73.913863 40.800933),0.0
168770,0,2024-02-01 08:00:00.000,2024,2,1,8,2074,POINT (-73.913863 40.800933),0.0
168973,0,2024-03-01 08:00:00.000,2024,3,1,8,2074,POINT (-73.913863 40.800933),0.0
169190,0,2024-04-01 08:00:00.000,2024,4,1,8,2074,POINT (-73.913863 40.800933),1.0

The problem we see here is that for station ID '0', we have lagged rental values of *Nan* but for station ID '9', the lagged rental value is 2. This suggests that there is a problem.

In [4]:
import numpy as np

# removing the column for lagged rentals
selected_rentals['#_rentals_lag_1'] = np.nan

# sorting the data
selected_rentals.sort_values(by = ['ID', 'month', 'day', 'hour'], inplace=True, ignore_index=True)
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272),NaN
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272),NaN
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272),NaN
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272),NaN

In [5]:
# For Jan, 31 days (7 time units * 31 days)
len(selected_rentals[(selected_rentals["ID"] == 0) & (selected_rentals["month"] == 1)])

217

### Developing a new method for creating lagged values
The old method had issues, as we have seen. This section is trying to explore what can be done to develop a better way.

In [6]:
# Creating lag: Selecting ID=0, 1st day of Jan all time units
lag_list = list(
selected_rentals.loc[(selected_rentals.ID == 0) & (selected_rentals.month == 1) & (selected_rentals.day == 1), "#_rentals"].shift(1)
)

lag_list

[nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [7]:
selected_rentals.ID.unique()

array([   0,    9,   54,   55,   62,   63,   66,   67,   72,   74,   75,
         76,   77,   78,   83,   85,   90,   91,   92,  101,  102,  103,
        113,  114,  115,  124,  133,  134,  143,  150,  154,  156,  157,
        168,  169,  184,  185,  281,  286,  287,  292,  293,  294,  439,
        482,  483,  484,  485,  486,  487,  488,  489,  499,  505,  506,
        507,  535,  616,  631,  634,  663,  664,  665,  732,  734,  735,
        736,  791,  793,  801,  819,  823,  861,  891,  892,  893,  894,
        895,  896,  901,  902,  903,  904,  905,  906,  907,  908,  911,
        912,  913,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        927,  928,  929,  930,  931,  934,  935, 1066, 1067, 1068, 1069,
       1070, 1071, 1072, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081,
       1082, 1083, 1084, 1085, 1088, 1089, 1090, 1091, 1092, 1093, 1094,
       1095, 1106, 1119, 1157, 1158, 1159, 1160, 1187, 1211, 1366, 1367,
       1368, 1369, 1370, 1371, 1372, 1373, 1374, 1386, 1387, 1388, 1389,
       1397, 1398, 1424, 1427, 1428, 1491, 1492, 1493, 1500, 1503, 1541,
       1574, 1609, 1610, 1646, 1715, 1743, 1744, 1762, 1763, 1764, 1765,
       1804, 1852, 1853, 1862, 1863, 1864, 1865, 1866, 1868, 1869, 1870,
       1871, 1872, 1875, 1879, 1881, 1884, 2010, 2017, 2062, 2063, 2064,
       2065, 2074], dtype=int64)

In [8]:
# Creating a lag list for the month of Jan only!

lag_list_jan = []

for i in selected_rentals.ID.unique():
    for k in selected_rentals[selected_rentals.month == 1].day.unique():
        lag_list_jan.append(selected_rentals.loc[(selected_rentals.ID == i) & (selected_rentals.month == 1) & (selected_rentals.day == k), "#_rentals"].shift(1))
            
lag_list_jan

[0    NaN
 1    0.0
 2    0.0
 3    0.0
 4    0.0
 5    0.0
 6    0.0
 Name: #_rentals, dtype: float64,
 7     NaN
 8     3.0
 9     0.0
 10    6.0
 11    6.0
 12    7.0
 13    1.0
 Name: #_rentals, dtype: float64,
 14    NaN
 15    3.0
 16    1.0
 17    3.0
 18    0.0
 19    5.0
 20    1.0
 Name: #_rentals, dtype: float64,
 21    NaN
 22    4.0
 23    1.0
 24    1.0
 25    1.0
 26    0.0
 27    1.0
 Name: #_rentals, dtype: float64,
 28    NaN
 29    2.0
 30    1.0
 31    1.0
 32    1.0
 33    1.0
 34    1.0
 Name: #_rentals, dtype: float64,
 35    NaN
 36    2.0
 37    0.0
 38    1.0
 39    2.0
 40    2.0
 41    0.0
 Name: #_rentals, dtype: float64,
 42    NaN
 43    1.0
 44    0.0
 45    0.0
 46    0.0
 47    4.0
 48    0.0
 Name: #_rentals, dtype: float64,
 49    NaN
 50    3.0
 51    1.0
 52    0.0
 53    0.0
 54    3.0
 55    2.0
 Name: #_rentals, dtype: float64,
 56    NaN
 57    4.0
 58    4.0
 59    1.0
 60    0.0
 61    0.0
 62    0.0
 Name: #_rentals, dtype: float64,
 63    NaN
 64    3.0
 65    4.0
 66    3.0
 67    4.0
 68    5.0
 69    1.0
 Name: #_rentals, dtype: float64,
 70    NaN
 71    3.0
 72    0.0
 73    1.0
 74    2.0
 75    1.0
 76    0.0
 Name: #_rentals, dtype: float64,
 77    NaN
 78    5.0
 79    1.0
 80    1.0
 81    0.0
 82    1.0
 83    0.0
 Name: #_rentals, dtype: float64,
 84    NaN
 85    2.0
 86    1.0
 87    3.0
 88    3.0
 89    2.0
 90    0.0
 Name: #_rentals, dtype: float64,
 91    NaN
 92    3.0
 93    1.0
 94    0.0
 95    1.0
 96    3.0
 97    1.0
 Name: #_rentals, dtype: float64,
 98     NaN
 99     2.0
 100    1.0
 101    0.0
 102    0.0
 103    0.0
 104    0.0
 Name: #_rentals, dtype: float64,
 105    NaN
 106    1.0
 107    0.0
 108    1.0
 109    0.0
 110    1.0
 111    0.0
 Name: #_rentals, dtype: float64,
 112    NaN
 113    1.0
 114    1.0
 115    0.0
 116    1.0
 117    1.0
 118    1.0
 Name: #_rentals, dtype: float64,
 119    NaN
 120    3.0
 121    0.0
 122    2.0
 123    2.0
 124    3.0
 125    1.0
 Name: #_rentals, dtype: float64,
 126    NaN
 127    3.0
 128    0.0
 129    3.0
 130    2.0
 131    1.0
 132    2.0
 Name: #_rentals, dtype: float64,
 133    NaN
 134    4.0
 135    0.0
 136    0.0
 137    1.0
 138    3.0
 139    1.0
 Name: #_rentals, dtype: float64,
 140    NaN
 141    0.0
 142    0.0
 143    0.0
 144    0.0
 145    1.0
 146    0.0
 Name: #_rentals, dtype: float64,
 147    NaN
 148    3.0
 149    0.0
 150    3.0
 151    1.0
 152    0.0
 153    0.0
 Name: #_rentals, dtype: float64,
 154    NaN
 155    3.0
 156    2.0
 157    3.0
 158    0.0
 159    0.0
 160    1.0
 Name: #_rentals, dtype: float64,
 161    NaN
 162    2.0
 163    3.0
 164    0.0
 165    1.0
 166    1.0
 167    0.0
 Name: #_rentals, dtype: float64,
 168    NaN
 169    0.0
 170    1.0
 171    2.0
 172    0.0
 173    3.0
 174    3.0
 Name: #_rentals, dtype: float64,
 175    NaN
 176    3.0
 177    0.0
 178    2.0
 179    4.0
 180    1.0
 181    2.0
 Name: #_rentals, dtype: float64,
 182    NaN
 183    2.0
 184    4.0
 185    2.0
 186    7.0
 187    2.0
 188    1.0
 Name: #_rentals, dtype: float64,
 189    NaN
 190    0.0
 191    0.0
 192    0.0
 193    3.0
 194    0.0
 195    0.0
 Name: #_rentals, dtype: float64,
 196    NaN
 197    3.0
 198    3.0
 199    1.0
 200    1.0
 201    0.0
 202    0.0
 Name: #_rentals, dtype: float64,
 203    NaN
 204    8.0
 205    1.0
 206    4.0
 207    1.0
 208    3.0
 209    1.0
 Name: #_rentals, dtype: float64,
 210    NaN
 211    4.0
 212    4.0
 213    2.0
 214    0.0
 215    2.0
 216    3.0
 Name: #_rentals, dtype: float64,
 847    NaN
 848    0.0
 849    1.0
 850    1.0
 851    0.0
 852    0.0
 853    0.0
 Name: #_rentals, dtype: float64,
 854    NaN
 855    3.0
 856    0.0
 857    0.0
 858    1.0
 859    3.0
 860    1.0
 Name: #_rentals, dtype: float64,
 861    NaN
 862    3.0
 863    1.0
 864    1.0
 865    3.0
 866    1.0
 867    1.0
 Name: #_rentals, dtype: float64,
 868    NaN
 869    1.0
 870    1.0
 871    2.0
 872    1.0
 873    1.0
 874    3.0
 Name: #_rentals, dtype: float64,
 875    NaN
 876    4.0
 877    1.0
 878    0.0
 879    1.0
 880    0.0
 881    1.0
 Name: #_rentals, dtype: float64,
 882    NaN
 883    5.0
 884    1.0
 885    1.0
 886    1.0
 887    0.0
 888    0.0
 Name: #_rentals, dtype: float64,
 889    NaN
 890    0.0
 891    3.0
 892    0.0
 893    1.0
 894    4.0
 895    0.0
 Name: #_rentals, dtype: float64,
 896    NaN
 897    6.0
 898    1.0
 899    0.0
 900    1.0
 901    0.0
 902    1.0
 Name: #_rentals, dtype: float64,
 903    NaN
 904    3.0
 905    0.0
 906    0.0
 907    1.0
 908    0.0
 909    0.0
 Name: #_rentals, dtype: float64,
 910    NaN
 911    5.0
 912    1.0
 913    5.0
 914    2.0
 915    3.0
 916    2.0
 Name: #_rentals, dtype: float64,
 917    NaN
 918    7.0
 919    1.0
 920    2.0
 921    0.0
 922    0.0
 923    1.0
 Name: #_rentals, dtype: float64,
 924    NaN
 925    2.0
 926    2.0
 927    2.0
 928    2.0
 929    1.0
 930    1.0
 Name: #_rentals, dtype: float64,
 931    NaN
 932    2.0
 933    2.0
 934    1.0
 935    1.0
 936    2.0
 937    1.0
 Name: #_rentals, dtype: float64,
 938    NaN
 939    1.0
 940    2.0
 941    3.0
 942    1.0
 943    0.0
 944    0.0
 Name: #_rentals, dtype: float64,
 945    NaN
 946    0.0
 947    3.0
 948    2.0
 949    0.0
 950    2.0
 951    1.0
 Name: #_rentals, dtype: float64,
 952    NaN
 953    2.0
 954    0.0
 955    0.0
 956    0.0
 957    0.0
 958    1.0
 Name: #_rentals, dtype: float64,
 959    NaN
 960    4.0
 961    0.0
 962    0.0
 963    1.0
 964    0.0
 965    1.0
 Name: #_rentals, dtype: float64,
 966    NaN
 967    2.0
 968    1.0
 969    0.0
 970    1.0
 971    0.0
 972    0.0
 Name: #_rentals, dtype: float64,
 973    NaN
 974    3.0
 975    1.0
 976    0.0
 977    0.0
 978    0.0
 979    1.0
 Name: #_rentals, dtype: float64,
 980    NaN
 981    0.0
 982    1.0
 983    2.0
 984    1.0
 985    0.0
 986    1.0
 Name: #_rentals, dtype: float64,
 987    NaN
 988    2.0
 989    1.0
 990    1.0
 991    2.0
 992    0.0
 993    0.0
 Name: #_rentals, dtype: float64,
 994     NaN
 995     6.0
 996     1.0
 997     3.0
 998     1.0
 999     0.0
 1000    1.0
 Name: #_rentals, dtype: float64,
 1001    NaN
 1002    7.0
 1003    2.0
 1004    0.0
 1005    1.0
 1006    1.0
 1007    4.0
 Name: #_rentals, dtype: float64,
 1008    NaN
 1009    3.0
 1010    0.0
 1011    1.0
 1012    1.0
 1013    0.0
 1014    1.0
 Name: #_rentals, dtype: float64,
 1015    NaN
 1016    3.0
 1017    1.0
 1018    4.0
 1019    1.0
 1020    1.0
 1021    1.0
 Name: #_rentals, dtype: float64,
 1022    NaN
 1023    1.0
 1024    0.0
 1025    0.0
 1026    2.0
 1027    1.0
 1028    2.0
 Name: #_rentals, dtype: float64,
 1029    NaN
 1030    7.0
 1031    1.0
 1032    2.0
 1033    2.0
 1034    1.0
 1035    1.0
 Name: #_rentals, dtype: float64,
 1036    NaN
 1037    0.0
 1038    2.0
 1039    1.0
 1040    2.0
 1041    0.0
 1042    0.0
 Name: #_rentals, dtype: float64,
 1043    NaN
 1044    6.0
 1045    0.0
 1046    1.0
 1047    1.0
 1048    2.0
 1049    2.0
 Name: #_rentals, dtype: float64,
 1050    NaN
 1051    4.0
 1052    1.0
 1053    1.0
 1054    0.0
 1055    3.0
 1056    3.0
 Name: #_rentals, dtype: float64,
 1057    NaN
 1058    5.0
 1059    1.0
 1060    0.0
 1061    0.0
 1062    0.0
 1063    3.0
 Name: #_rentals, dtype: float64,
 1694    NaN
 1695    0.0
 1696    1.0
 1697    3.0
 1698    2.0
 1699    0.0
 1700    0.0
 Name: #_rentals, dtype: float64,
 1701    NaN
 1702    6.0
 1703    2.0
 1704    1.0
 1705    3.0
 1706    4.0
 1707    3.0
 Name: #_rentals, dtype: float64,
 1708    NaN
 1709    5.0
 1710    0.0
 1711    0.0
 1712    3.0
 1713    0.0
 1714    1.0
 Name: #_rentals, dtype: float64,
 1715    NaN
 1716    4.0
 1717    1.0
 1718    2.0
 1719    2.0
 1720    0.0
 1721    1.0
 Name: #_rentals, dtype: float64,
 1722    NaN
 1723    1.0
 1724    3.0
 1725    1.0
 1726    3.0
 1727    2.0
 1728    0.0
 Name: #_rentals, dtype: float64,
 1729    NaN
 1730    3.0
 1731    3.0
 1732    0.0
 1733    3.0
 1734    0.0
 1735    1.0
 Name: #_rentals, dtype: float64,
 1736    NaN
 1737    1.0
 1738    0.0
 1739    1.0
 1740    1.0
 1741    2.0
 1742    1.0
 Name: #_rentals, dtype: float64,
 1743    NaN
 1744    1.0
 1745    0.0
 1746    0.0
 1747    1.0
 1748    2.0
 1749    0.0
 Name: #_rentals, dtype: float64,
 1750    NaN
 1751    2.0
 1752    0.0
 1753    0.0
 1754    0.0
 1755    0.0
 1756    0.0
 Name: #_rentals, dtype: float64,
 1757    NaN
 1758    2.0
 1759    0.0
 1760    1.0
 1761    2.0
 1762    0.0
 1763    2.0
 Name: #_rentals, dtype: float64,
 1764    NaN
 1765    2.0
 1766    2.0
 1767    4.0
 1768    1.0
 1769    1.0
 1770    0.0
 Name: #_rentals, dtype: float64,
 1771    NaN
 1772    2.0
 1773    2.0
 1774    2.0
 1775    2.0
 1776    1.0
 1777    0.0
 Name: #_rentals, dtype: float64,
 1778    NaN
 1779    1.0
 1780    2.0
 1781    1.0
 1782    2.0
 1783    0.0
 1784    0.0
 Name: #_rentals, dtype: float64,
 1785    NaN
 1786    2.0
 1787    2.0
 1788    0.0
 1789    2.0
 1790    1.0
 1791    0.0
 Name: #_rentals, dtype: float64,
 1792    NaN
 1793    1.0
 1794    1.0
 1795    0.0
 1796    0.0
 1797    2.0
 1798    0.0
 Name: #_rentals, dtype: float64,
 1799    NaN
 1800    1.0
 1801    1.0
 1802    0.0
 1803    0.0
 1804    1.0
 1805    0.0
 Name: #_rentals, dtype: float64,
 1806    NaN
 1807    2.0
 1808    1.0
 1809    0.0
 1810    1.0
 1811    0.0
 1812    0.0
 Name: #_rentals, dtype: float64,
 1813    NaN
 1814    2.0
 1815    0.0
 1816    2.0
 1817    0.0
 1818    1.0
 1819    1.0
 Name: #_rentals, dtype: float64,
 1820    NaN
 1821    2.0
 1822    1.0
 1823    1.0
 1824    0.0
 1825    1.0
 1826    0.0
 Name: #_rentals, dtype: float64,
 1827    NaN
 1828    1.0
 1829    0.0
 1830    1.0
 1831    2.0
 1832    1.0
 1833    2.0
 Name: #_rentals, dtype: float64,
 1834    NaN
 1835    0.0
 1836    4.0
 1837    0.0
 1838    2.0
 1839    0.0
 1840    0.0
 Name: #_rentals, dtype: float64,
 1841    NaN
 1842    3.0
 1843    1.0
 1844    1.0
 1845    1.0
 1846    0.0
 1847    0.0
 Name: #_rentals, dtype: float64,
 1848    NaN
 1849    3.0
 1850    1.0
 1851    0.0
 1852    1.0
 1853    0.0
 1854    0.0
 Name: #_rentals, dtype: float64,
 1855    NaN
 1856    1.0
 1857    0.0
 1858    1.0
 1859    1.0
 1860    0.0
 1861    1.0
 Name: #_rentals, dtype: float64,
 1862    NaN
 1863    2.0
 1864    0.0
 1865    3.0
 1866    1.0
 1867    1.0
 1868    1.0
 Name: #_rentals, dtype: float64,
 1869    NaN
 1870    3.0
 1871    1.0
 1872    0.0
 1873    2.0
 1874    3.0
 1875    0.0
 Name: #_rentals, dtype: float64,
 1876    NaN
 1877    1.0
 1878    1.0
 1879    0.0
 1880    5.0
 1881    0.0
 1882    1.0
 Name: #_rentals, dtype: float64,
 1883    NaN
 1884    0.0
 1885    1.0
 1886    0.0
 1887    0.0
 1888    1.0
 1889    1.0
 Name: #_rentals, dtype: float64,
 1890    NaN
 1891    3.0
 1892    2.0
 1893    0.0
 1894    2.0
 1895    0.0
 1896    0.0
 Name: #_rentals, dtype: float64,
 1897    NaN
 1898    6.0
 1899    2.0
 1900    0.0
 1901    3.0
 1902    3.0
 1903    2.0
 Name: #_rentals, dtype: float64,
 1904    NaN
 1905    4.0
 1906    1.0
 1907    1.0
 1908    0.0
 1909    0.0
 1910    1.0
 Name: #_rentals, dtype: float64,
 2541    NaN
 2542    1.0
 2543    0.0
 2544    0.0
 2545    0.0
 2546    2.0
 2547    0.0
 Name: #_rentals, dtype: float64,
 2548    NaN
 2549    6.0
 2550    0.0
 2551    0.0
 2552    0.0
 2553    1.0
 2554    0.0
 Name: #_rentals, dtype: float64,
 2555    NaN
 2556    3.0
 2557    2.0
 2558    1.0
 2559    1.0
 2560    0.0
 2561    1.0
 Name: #_rentals, dtype: float64,
 2562    NaN
 2563    4.0
 2564    0.0
 2565    2.0
 2566    2.0
 2567    1.0
 2568    1.0
 Name: #_rentals, dtype: float64,
 2569    NaN
 2570    1.0
 2571    1.0
 2572    0.0
 2573    0.0
 2574    0.0
 2575    0.0
 Name: #_rentals, dtype: float64,
 2576    NaN
 2577    1.0
 2578    1.0
 2579    3.0
 2580    0.0
 2581    0.0
 2582    0.0
 Name: #_rentals, dtype: float64,
 2583    NaN
 2584    0.0
 2585    0.0
 2586    1.0
 2587    0.0
 2588    0.0
 2589    0.0
 Name: #_rentals, dtype: float64,
 2590    NaN
 2591    0.0
 2592    0.0
 2593    1.0
 2594    1.0
 2595    0.0
 2596    0.0
 Name: #_rentals, dtype: float64,
 2597    NaN
 2598    3.0
 2599    1.0
 2600    0.0
 2601    0.0
 2602    0.0
 2603    0.0
 Name: #_rentals, dtype: float64,
 2604    NaN
 2605    3.0
 2606    0.0
 2607    0.0
 2608    1.0
 2609    0.0
 2610    0.0
 Name: #_rentals, dtype: float64,
 2611    NaN
 2612    4.0
 2613    0.0
 2614    1.0
 2615    0.0
 2616    0.0
 2617    2.0
 Name: #_rentals, dtype: float64,
 2618    NaN
 2619    3.0
 2620    1.0
 2621    0.0
 2622    1.0
 2623    1.0
 2624    0.0
 Name: #_rentals, dtype: float64,
 2625    NaN
 2626    0.0
 2627    2.0
 2628    5.0
 2629    3.0
 2630    0.0
 2631    0.0
 Name: #_rentals, dtype: float64,
 2632    NaN
 2633    0.0
 2634    1.0
 2635    0.0
 2636    0.0
 2637    2.0
 2638    0.0
 Name: #_rentals, dtype: float64,
 2639    NaN
 2640    0.0
 2641    1.0
 2642    4.0
 2643    0.0
 2644    0.0
 2645    0.0
 Name: #_rentals, dtype: float64,
 2646    NaN
 2647    0.0
 2648    1.0
 2649    0.0
 2650    0.0
 2651    1.0
 2652    0.0
 Name: #_rentals, dtype: float64,
 2653    NaN
 2654    2.0
 2655    1.0
 2656    0.0
 2657    0.0
 2658    1.0
 2659    0.0
 Name: #_rentals, dtype: float64,
 2660    NaN
 2661    4.0
 2662    1.0
 2663    1.0
 2664    1.0
 2665    3.0
 2666    3.0
 Name: #_rentals, dtype: float64,
 2667    NaN
 2668    0.0
 2669    0.0
 2670    1.0
 2671    0.0
 2672    0.0
 2673    0.0
 Name: #_rentals, dtype: float64,
 2674    NaN
 2675    0.0
 2676    0.0
 2677    1.0
 2678    1.0
 2679    0.0
 2680    0.0
 Name: #_rentals, dtype: float64,
 2681    NaN
 2682    0.0
 2683    0.0
 2684    0.0
 2685    2.0
 2686    1.0
 2687    0.0
 Name: #_rentals, dtype: float64,
 2688    NaN
 2689    0.0
 2690    0.0
 2691    0.0
 2692    1.0
 2693    0.0
 2694    0.0
 Name: #_rentals, dtype: float64,
 2695    NaN
 2696    2.0
 2697    0.0
 2698    0.0
 2699    0.0
 2700    0.0
 2701    0.0
 Name: #_rentals, dtype: float64,
 2702    NaN
 2703    1.0
 2704    0.0
 2705    0.0
 2706    0.0
 2707    0.0
 2708    0.0
 Name: #_rentals, dtype: float64,
 2709    NaN
 2710    1.0
 2711    0.0
 2712    0.0
 2713    2.0
 2714    2.0
 2715    1.0
 Name: #_rentals, dtype: float64,
 2716    NaN
 2717    1.0
 2718    1.0
 2719    2.0
 2720    0.0
 2721    0.0
 2722    1.0
 Name: #_rentals, dtype: float64,
 2723    NaN
 2724    1.0
 2725    0.0
 2726    0.0
 2727    2.0
 2728    1.0
 2729    1.0
 Name: #_rentals, dtype: float64,
 2730    NaN
 2731    0.0
 2732    0.0
 2733    0.0
 2734    1.0
 2735    0.0
 2736    0.0
 Name: #_rentals, dtype: float64,
 2737    NaN
 2738    1.0
 2739    0.0
 2740    0.0
 2741    0.0
 2742    0.0
 2743    0.0
 Name: #_rentals, dtype: float64,
 2744    NaN
 2745    2.0
 2746    1.0
 2747    2.0
 2748    0.0
 2749    0.0
 2750    1.0
 Name: #_rentals, dtype: float64,
 2751    NaN
 2752    1.0
 2753    1.0
 2754    2.0
 2755    1.0
 2756    5.0
 2757    0.0
 Name: #_rentals, dtype: float64,
 3388    NaN
 3389    0.0
 3390    0.0
 3391    0.0
 3392    0.0
 3393    0.0
 3394    0.0
 Name: #_rentals, dtype: float64,
 3395    NaN
 3396    0.0
 3397    1.0
 3398    0.0
 3399    1.0
 3400    2.0
 3401    0.0
 Name: #_rentals, dtype: float64,
 3402    NaN
 3403    2.0
 3404    2.0
 3405    0.0
 3406    1.0
 3407    0.0
 3408    0.0
 Name: #_rentals, dtype: float64,
 3409    NaN
 3410    1.0
 3411    1.0
 3412    0.0
 3413    0.0
 3414    4.0
 3415    0.0
 Name: #_rentals, dtype: float64,
 3416    NaN
 3417    0.0
 3418    0.0
 3419    3.0
 3420    2.0
 3421    0.0
 3422    0.0
 Name: #_rentals, dtype: float64,
 3423    NaN
 3424    0.0
 3425    1.0
 3426    1.0
 3427    0.0
 3428    1.0
 3429    0.0
 Name: #_rentals, dtype: float64,
 3430    NaN
 3431    0.0
 3432    1.0
 3433    0.0
 3434    1.0
 3435    0.0
 3436    0.0
 Name: #_rentals, dtype: float64,
 3437    NaN
 3438    1.0
 3439    0.0
 3440    0.0
 3441    1.0
 3442    1.0
 3443    0.0
 Name: #_rentals, dtype: float64,
 3444    NaN
 3445    1.0
 3446    0.0
 3447    0.0
 3448    1.0
 3449    0.0
 3450    1.0
 Name: #_rentals, dtype: float64,
 3451    NaN
 3452    1.0
 3453    0.0
 3454    2.0
 3455    2.0
 3456    2.0
 3457    0.0
 Name: #_rentals, dtype: float64,
 3458    NaN
 3459    1.0
 3460    0.0
 3461    1.0
 3462    0.0
 3463    3.0
 3464    0.0
 Name: #_rentals, dtype: float64,
 3465    NaN
 3466    0.0
 3467    1.0
 3468    2.0
 3469    1.0
 3470    2.0
 3471    0.0
 Name: #_rentals, dtype: float64,
 3472    NaN
 3473    0.0
 3474    0.0
 3475    1.0
 3476    1.0
 3477    0.0
 3478    0.0
 Name: #_rentals, dtype: float64,
 3479    NaN
 3480    0.0
 3481    0.0
 3482    2.0
 3483    1.0
 3484    0.0
 3485    0.0
 Name: #_rentals, dtype: float64,
 3486    NaN
 3487    0.0
 3488    0.0
 3489    0.0
 3490    1.0
 3491    0.0
 3492    0.0
 Name: #_rentals, dtype: float64,
 3493    NaN
 3494    0.0
 3495    0.0
 3496    0.0
 3497    2.0
 3498    0.0
 3499    0.0
 Name: #_rentals, dtype: float64,
 3500    NaN
 3501    1.0
 3502    0.0
 3503    0.0
 3504    1.0
 3505    0.0
 3506    0.0
 Name: #_rentals, dtype: float64,
 3507    NaN
 3508    0.0
 3509    0.0
 3510    0.0
 3511    1.0
 3512    0.0
 3513    1.0
 Name: #_rentals, dtype: float64,
 3514    NaN
 3515    0.0
 3516    0.0
 3517    0.0
 3518    1.0
 3519    2.0
 3520    1.0
 Name: #_rentals, dtype: float64,
 3521    NaN
 3522    0.0
 3523    0.0
 3524    1.0
 3525    0.0
 3526    0.0
 3527    0.0
 Name: #_rentals, dtype: float64,
 3528    NaN
 3529    0.0
 3530    0.0
 3531    0.0
 3532    0.0
 3533    0.0
 3534    0.0
 Name: #_rentals, dtype: float64,
 3535    NaN
 3536    2.0
 3537    0.0
 3538    1.0
 3539    1.0
 3540    2.0
 3541    0.0
 Name: #_rentals, dtype: float64,
 3542    NaN
 3543    1.0
 3544    0.0
 3545    1.0
 3546    1.0
 3547    2.0
 3548    0.0
 Name: #_rentals, dtype: float64,
 3549    NaN
 3550    2.0
 3551    0.0
 3552    1.0
 3553    1.0
 3554    0.0
 3555    0.0
 Name: #_rentals, dtype: float64,
 3556    NaN
 3557    1.0
 3558    0.0
 3559    0.0
 3560    0.0
 3561    3.0
 3562    0.0
 Name: #_rentals, dtype: float64,
 3563    NaN
 3564    1.0
 3565    0.0
 3566    0.0
 3567    2.0
 3568    0.0
 3569    0.0
 Name: #_rentals, dtype: float64,
 3570    NaN
 3571    0.0
 3572    1.0
 3573    1.0
 3574    0.0
 3575    0.0
 3576    0.0
 Name: #_rentals, dtype: float64,
 3577    NaN
 3578    1.0
 3579    0.0
 3580    0.0
 3581    1.0
 3582    0.0
 3583    0.0
 Name: #_rentals, dtype: float64,
 3584    NaN
 3585    0.0
 3586    0.0
 3587    0.0
 3588    0.0
 3589    2.0
 3590    2.0
 Name: #_rentals, dtype: float64,
 3591    NaN
 3592    2.0
 3593    0.0
 3594    1.0
 3595    2.0
 3596    2.0
 3597    0.0
 Name: #_rentals, dtype: float64,
 3598    NaN
 3599    0.0
 3600    1.0
 3601    1.0
 3602    1.0
 3603    2.0
 3604    0.0
 Name: #_rentals, dtype: float64,
 4235    NaN
 4236    0.0
 4237    1.0
 4238    0.0
 4239    0.0
 4240    1.0
 4241    2.0
 Name: #_rentals, dtype: float64,
 4242    NaN
 4243    0.0
 4244    0.0
 4245    0.0
 4246    1.0
 4247    0.0
 4248    0.0
 Name: #_rentals, dtype: float64,
 4249    NaN
 4250    0.0
 4251    2.0
 4252    0.0
 4253    2.0
 4254    0.0
 4255    2.0
 Name: #_rentals, dtype: float64,
 4256    NaN
 4257    0.0
 4258    0.0
 4259    0.0
 4260    2.0
 4261    0.0
 4262    0.0
 Name: #_rentals, dtype: float64,
 4263    NaN
 4264    0.0
 4265    1.0
 4266    1.0
 4267    0.0
 4268    3.0
 4269    1.0
 Name: #_rentals, dtype: float64,
 4270    NaN
 4271    0.0
 4272    1.0
 4273    1.0
 4274    0.0
 4275    1.0
 4276    0.0
 Name: #_rentals, dtype: float64,
 4277    NaN
 4278    0.0
 4279    0.0
 4280    1.0
 4281    0.0
 4282    0.0
 4283    0.0
 Name: #_rentals, dtype: float64,
 4284    NaN
 4285    0.0
 4286    0.0
 4287    0.0
 4288    0.0
 4289    1.0
 4290    1.0
 Name: #_rentals, dtype: float64,
 4291    NaN
 4292    0.0
 4293    0.0
 4294    1.0
 4295    0.0
 4296    0.0
 4297    2.0

In [9]:
# Creating a lag list for the month of Feb only!

lag_list_feb = []

for i in selected_rentals.ID.unique():
    for k in selected_rentals[selected_rentals.month == 2].day.unique():
        lag_list_feb.append(selected_rentals.loc[(selected_rentals.ID == i) & (selected_rentals.month == 2) & (selected_rentals.day == k), "#_rentals"].shift(1))
            
lag_list_feb

[217    NaN
 218    9.0
 219    1.0
 220    3.0
 221    5.0
 222    1.0
 223    3.0
 Name: #_rentals, dtype: float64,
 224    NaN
 225    4.0
 226    0.0
 227    2.0
 228    0.0
 229    3.0
 230    2.0
 Name: #_rentals, dtype: float64,
 231    NaN
 232    1.0
 233    3.0
 234    2.0
 235    5.0
 236    3.0
 237    1.0
 Name: #_rentals, dtype: float64,
 238    NaN
 239    0.0
 240    0.0
 241    2.0
 242    1.0
 243    5.0
 244    1.0
 Name: #_rentals, dtype: float64,
 245    NaN
 246    6.0
 247    1.0
 248    2.0
 249    1.0
 250    2.0
 251    1.0
 Name: #_rentals, dtype: float64,
 252    NaN
 253    6.0
 254    2.0
 255    2.0
 256    2.0
 257    3.0
 258    1.0
 Name: #_rentals, dtype: float64,
 259    NaN
 260    7.0
 261    3.0
 262    1.0
 263    2.0
 264    3.0
 265    1.0
 Name: #_rentals, dtype: float64,
 266    NaN
 267    3.0
 268    1.0
 269    2.0
 270    7.0
 271    5.0
 272    3.0
 Name: #_rentals, dtype: float64,
 273    NaN
 274    7.0
 275    2.0
 276    3.0
 277    3.0
 278    4.0
 279    0.0
 Name: #_rentals, dtype: float64,
 280    NaN
 281    1.0
 282    3.0
 283    2.0
 284    2.0
 285    2.0
 286    2.0
 Name: #_rentals, dtype: float64,
 287    NaN
 288    2.0
 289    3.0
 290    1.0
 291    5.0
 292    6.0
 293    1.0
 Name: #_rentals, dtype: float64,
 294    NaN
 295    8.0
 296    0.0
 297    5.0
 298    1.0
 299    2.0
 300    2.0
 Name: #_rentals, dtype: float64,
 301    NaN
 302    1.0
 303    1.0
 304    0.0
 305    1.0
 306    0.0
 307    0.0
 Name: #_rentals, dtype: float64,
 308    NaN
 309    9.0
 310    5.0
 311    2.0
 312    3.0
 313    6.0
 314    0.0
 Name: #_rentals, dtype: float64,
 315    NaN
 316    9.0
 317    2.0
 318    3.0
 319    1.0
 320    1.0
 321    0.0
 Name: #_rentals, dtype: float64,
 322    NaN
 323    3.0
 324    0.0
 325    1.0
 326    0.0
 327    2.0
 328    3.0
 Name: #_rentals, dtype: float64,
 329    NaN
 330    4.0
 331    2.0
 332    1.0
 333    1.0
 334    1.0
 335    1.0
 Name: #_rentals, dtype: float64,
 336    NaN
 337    1.0
 338    1.0
 339    0.0
 340    0.0
 341    4.0
 342    1.0
 Name: #_rentals, dtype: float64,
 343    NaN
 344    2.0
 345    2.0
 346    3.0
 347    1.0
 348    4.0
 349    2.0
 Name: #_rentals, dtype: float64,
 350    NaN
 351    5.0
 352    0.0
 353    1.0
 354    1.0
 355    1.0
 356    3.0
 Name: #_rentals, dtype: float64,
 357    NaN
 358    5.0
 359    2.0
 360    1.0
 361    1.0
 362    3.0
 363    1.0
 Name: #_rentals, dtype: float64,
 364    NaN
 365    2.0
 366    3.0
 367    2.0
 368    3.0
 369    3.0
 370    0.0
 Name: #_rentals, dtype: float64,
 371    NaN
 372    3.0
 373    1.0
 374    1.0
 375    1.0
 376    2.0
 377    2.0
 Name: #_rentals, dtype: float64,
 378    NaN
 379    6.0
 380    0.0
 381    2.0
 382    4.0
 383    5.0
 384    0.0
 Name: #_rentals, dtype: float64,
 385    NaN
 386    1.0
 387    0.0
 388    3.0
 389    2.0
 390    3.0
 391    0.0
 Name: #_rentals, dtype: float64,
 392    NaN
 393    5.0
 394    0.0
 395    2.0
 396    0.0
 397    1.0
 398    0.0
 Name: #_rentals, dtype: float64,
 399    NaN
 400    4.0
 401    3.0
 402    3.0
 403    1.0
 404    5.0
 405    1.0
 Name: #_rentals, dtype: float64,
 406    NaN
 407    5.0
 408    1.0
 409    1.0
 410    0.0
 411    3.0
 412    1.0
 Name: #_rentals, dtype: float64,
 413    NaN
 414    4.0
 415    2.0
 416    1.0
 417    0.0
 418    4.0
 419    0.0
 Name: #_rentals, dtype: float64,
 1064    NaN
 1065    3.0
 1066    2.0
 1067    1.0
 1068    2.0
 1069    3.0
 1070    2.0
 Name: #_rentals, dtype: float64,
 1071    NaN
 1072    2.0
 1073    0.0
 1074    0.0
 1075    2.0
 1076    1.0
 1077    2.0
 Name: #_rentals, dtype: float64,
 1078    NaN
 1079    3.0
 1080    1.0
 1081    3.0
 1082    1.0
 1083    0.0
 1084    1.0
 Name: #_rentals, dtype: float64,
 1085    NaN
 1086    2.0
 1087    1.0
 1088    2.0
 1089    1.0
 1090    5.0
 1091    3.0
 Name: #_rentals, dtype: float64,
 1092     NaN
 1093     4.0
 1094     0.0
 1095     1.0
 1096     2.0
 1097    10.0
 1098     1.0
 Name: #_rentals, dtype: float64,
 1099    NaN
 1100    6.0
 1101    0.0
 1102    0.0
 1103    0.0
 1104    3.0
 1105    2.0
 Name: #_rentals, dtype: float64,
 1106    NaN
 1107    8.0
 1108    1.0
 1109    3.0
 1110    4.0
 1111    1.0
 1112    1.0
 Name: #_rentals, dtype: float64,
 1113    NaN
 1114    8.0
 1115    2.0
 1116    4.0
 1117    1.0
 1118    2.0
 1119    1.0
 Name: #_rentals, dtype: float64,
 1120    NaN
 1121    5.0
 1122    1.0
 1123    1.0
 1124    0.0
 1125    4.0
 1126    1.0
 Name: #_rentals, dtype: float64,
 1127    NaN
 1128    4.0
 1129    1.0
 1130    0.0
 1131    2.0
 1132    2.0
 1133    0.0
 Name: #_rentals, dtype: float64,
 1134    NaN
 1135    1.0
 1136    5.0
 1137    0.0
 1138    0.0
 1139    0.0
 1140    1.0
 Name: #_rentals, dtype: float64,
 1141    NaN
 1142    8.0
 1143    2.0
 1144    1.0
 1145    1.0
 1146    2.0
 1147    2.0
 Name: #_rentals, dtype: float64,
 1148    NaN
 1149    0.0
 1150    0.0
 1151    0.0
 1152    1.0
 1153    0.0
 1154    3.0
 Name: #_rentals, dtype: float64,
 1155    NaN
 1156    4.0
 1157    1.0
 1158    3.0
 1159    0.0
 1160    0.0
 1161    2.0
 Name: #_rentals, dtype: float64,
 1162    NaN
 1163    4.0
 1164    1.0
 1165    1.0
 1166    2.0
 1167    1.0
 1168    1.0
 Name: #_rentals, dtype: float64,
 1169    NaN
 1170    3.0
 1171    2.0
 1172    0.0
 1173    1.0
 1174    5.0
 1175    2.0
 Name: #_rentals, dtype: float64,
 1176    NaN
 1177    1.0
 1178    0.0
 1179    2.0
 1180    1.0
 1181    1.0
 1182    0.0
 Name: #_rentals, dtype: float64,
 1183    NaN
 1184    0.0
 1185    2.0
 1186    0.0
 1187    0.0
 1188    0.0
 1189    0.0
 Name: #_rentals, dtype: float64,
 1190    NaN
 1191    1.0
 1192    0.0
 1193    0.0
 1194    3.0
 1195    2.0
 1196    0.0
 Name: #_rentals, dtype: float64,
 1197    NaN
 1198    3.0
 1199    2.0
 1200    1.0
 1201    4.0
 1202    1.0
 1203    0.0
 Name: #_rentals, dtype: float64,
 1204    NaN
 1205    2.0
 1206    1.0
 1207    1.0
 1208    0.0
 1209    3.0
 1210    1.0
 Name: #_rentals, dtype: float64,
 1211    NaN
 1212    2.0
 1213    1.0
 1214    7.0
 1215    2.0
 1216    2.0
 1217    0.0
 Name: #_rentals, dtype: float64,
 1218    NaN
 1219    0.0
 1220    1.0
 1221    3.0
 1222    1.0
 1223    1.0
 1224    3.0
 Name: #_rentals, dtype: float64,
 1225    NaN
 1226    3.0
 1227    5.0
 1228    1.0
 1229    4.0
 1230    1.0
 1231    0.0
 Name: #_rentals, dtype: float64,
 1232    NaN
 1233    1.0
 1234    0.0
 1235    1.0
 1236    3.0
 1237    1.0
 1238    2.0
 Name: #_rentals, dtype: float64,
 1239    NaN
 1240    8.0
 1241    0.0
 1242    1.0
 1243    3.0
 1244    2.0
 1245    1.0
 Name: #_rentals, dtype: float64,
 1246    NaN
 1247    5.0
 1248    0.0
 1249    1.0
 1250    1.0
 1251    1.0
 1252    2.0
 Name: #_rentals, dtype: float64,
 1253    NaN
 1254    3.0
 1255    1.0
 1256    0.0
 1257    4.0
 1258    3.0
 1259    1.0
 Name: #_rentals, dtype: float64,
 1260    NaN
 1261    5.0
 1262    1.0
 1263    3.0
 1264    3.0
 1265    1.0
 1266    0.0
 Name: #_rentals, dtype: float64,
 1911    NaN
 1912    2.0
 1913    1.0
 1914    0.0
 1915    2.0
 1916    1.0
 1917    2.0
 Name: #_rentals, dtype: float64,
 1918    NaN
 1919    0.0
 1920    0.0
 1921    0.0
 1922    1.0
 1923    1.0
 1924    0.0
 Name: #_rentals, dtype: float64,
 1925    NaN
 1926    2.0
 1927    4.0
 1928    0.0
 1929    3.0
 1930    0.0
 1931    1.0
 Name: #_rentals, dtype: float64,
 1932    NaN
 1933    1.0
 1934    1.0
 1935    1.0
 1936    1.0
 1937    1.0
 1938    1.0
 Name: #_rentals, dtype: float64,
 1939    NaN
 1940    1.0
 1941    1.0
 1942    1.0
 1943    2.0
 1944    0.0
 1945    1.0
 Name: #_rentals, dtype: float64,
 1946    NaN
 1947    5.0
 1948    0.0
 1949    1.0
 1950    1.0
 1951    0.0
 1952    0.0
 Name: #_rentals, dtype: float64,
 1953    NaN
 1954    1.0
 1955    0.0
 1956    3.0
 1957    0.0
 1958    1.0
 1959    0.0
 Name: #_rentals, dtype: float64,
 1960    NaN
 1961    3.0
 1962    2.0
 1963    3.0
 1964    2.0
 1965    2.0
 1966    0.0
 Name: #_rentals, dtype: float64,
 1967    NaN
 1968    3.0
 1969    3.0
 1970    2.0
 1971    3.0
 1972    0.0
 1973    0.0
 Name: #_rentals, dtype: float64,
 1974    NaN
 1975    0.0
 1976    3.0
 1977    2.0
 1978    2.0
 1979    1.0
 1980    1.0
 Name: #_rentals, dtype: float64,
 1981    NaN
 1982    3.0
 1983    1.0
 1984    0.0
 1985    1.0
 1986    2.0
 1987    1.0
 Name: #_rentals, dtype: float64,
 1988    NaN
 1989    1.0
 1990    0.0
 1991    3.0
 1992    2.0
 1993    1.0
 1994    4.0
 Name: #_rentals, dtype: float64,
 1995    NaN
 1996    0.0
 1997    0.0
 1998    1.0
 1999    0.0
 2000    1.0
 2001    1.0
 Name: #_rentals, dtype: float64,
 2002    NaN
 2003    2.0
 2004    0.0
 2005    0.0
 2006    3.0
 2007    2.0
 2008    0.0
 Name: #_rentals, dtype: float64,
 2009    NaN
 2010    2.0
 2011    0.0
 2012    0.0
 2013    0.0
 2014    0.0
 2015    2.0
 Name: #_rentals, dtype: float64,
 2016    NaN
 2017    2.0
 2018    1.0
 2019    0.0
 2020    1.0
 2021    2.0
 2022    2.0
 Name: #_rentals, dtype: float64,
 2023    NaN
 2024    0.0
 2025    1.0
 2026    0.0
 2027    1.0
 2028    1.0
 2029    0.0
 Name: #_rentals, dtype: float64,
 2030    NaN
 2031    0.0
 2032    1.0
 2033    0.0
 2034    0.0
 2035    0.0
 2036    1.0
 Name: #_rentals, dtype: float64,
 2037    NaN
 2038    0.0
 2039    8.0
 2040    1.0
 2041    1.0
 2042    3.0
 2043    0.0
 Name: #_rentals, dtype: float64,
 2044    NaN
 2045    5.0
 2046    1.0
 2047    0.0
 2048    3.0
 2049    3.0
 2050    0.0
 Name: #_rentals, dtype: float64,
 2051    NaN
 2052    4.0
 2053    0.0
 2054    0.0
 2055    3.0
 2056    1.0
 2057    1.0
 Name: #_rentals, dtype: float64,
 2058    NaN
 2059    3.0
 2060    4.0
 2061    1.0
 2062    2.0
 2063    0.0
 2064    0.0
 Name: #_rentals, dtype: float64,
 2065    NaN
 2066    3.0
 2067    1.0
 2068    1.0
 2069    0.0
 2070    2.0
 2071    1.0
 Name: #_rentals, dtype: float64,
 2072    NaN
 2073    1.0
 2074    1.0
 2075    2.0
 2076    1.0
 2077    1.0
 2078    1.0
 Name: #_rentals, dtype: float64,
 2079    NaN
 2080    1.0
 2081    2.0
 2082    1.0
 2083    1.0
 2084    1.0
 2085    0.0
 Name: #_rentals, dtype: float64,
 2086    NaN
 2087    4.0
 2088    1.0
 2089    1.0
 2090    2.0
 2091    2.0
 2092    0.0
 Name: #_rentals, dtype: float64,
 2093    NaN
 2094    4.0
 2095    1.0
 2096    2.0
 2097    2.0
 2098    3.0
 2099    1.0
 Name: #_rentals, dtype: float64,
 2100    NaN
 2101    3.0
 2102    3.0
 2103    3.0
 2104    0.0
 2105    0.0
 2106    0.0
 Name: #_rentals, dtype: float64,
 2107    NaN
 2108    3.0
 2109    1.0
 2110    2.0
 2111    5.0
 2112    0.0
 2113    0.0
 Name: #_rentals, dtype: float64,
 2758    NaN
 2759    0.0
 2760    0.0
 2761    0.0
 2762    1.0
 2763    2.0
 2764    0.0
 Name: #_rentals, dtype: float64,
 2765    NaN
 2766    0.0
 2767    1.0
 2768    0.0
 2769    0.0
 2770    2.0
 2771    2.0
 Name: #_rentals, dtype: float64,
 2772    NaN
 2773    0.0
 2774    1.0
 2775    0.0
 2776    0.0
 2777    3.0
 2778    0.0
 Name: #_rentals, dtype: float64,
 2779    NaN
 2780    0.0
 2781    0.0
 2782    0.0
 2783    4.0
 2784    1.0
 2785    0.0
 Name: #_rentals, dtype: float64,
 2786    NaN
 2787    0.0
 2788    1.0
 2789    1.0
 2790    0.0
 2791    2.0
 2792    1.0
 Name: #_rentals, dtype: float64,
 2793    NaN
 2794    0.0
 2795    0.0
 2796    0.0
 2797    2.0
 2798    0.0
 2799    1.0
 Name: #_rentals, dtype: float64,
 2800    NaN
 2801    5.0
 2802    1.0
 2803    4.0
 2804    2.0
 2805    3.0
 2806    0.0
 Name: #_rentals, dtype: float64,
 2807    NaN
 2808    2.0
 2809    0.0
 2810    1.0
 2811    0.0
 2812    3.0
 2813    0.0
 Name: #_rentals, dtype: float64,
 2814    NaN
 2815    1.0
 2816    2.0
 2817    2.0
 2818    1.0
 2819    3.0
 2820    2.0
 Name: #_rentals, dtype: float64,
 2821    NaN
 2822    3.0
 2823    5.0
 2824    1.0
 2825    3.0
 2826    2.0
 2827    0.0
 Name: #_rentals, dtype: float64,
 2828    NaN
 2829    0.0
 2830    1.0
 2831    2.0
 2832    1.0
 2833    0.0
 2834    0.0
 Name: #_rentals, dtype: float64,
 2835    NaN
 2836    0.0
 2837    1.0
 2838    0.0
 2839    1.0
 2840    1.0
 2841    0.0
 Name: #_rentals, dtype: float64,
 2842    NaN
 2843    0.0
 2844    0.0
 2845    0.0
 2846    0.0
 2847    1.0
 2848    0.0
 Name: #_rentals, dtype: float64,
 2849    NaN
 2850    2.0
 2851    0.0
 2852    0.0
 2853    0.0
 2854    0.0
 2855    0.0
 Name: #_rentals, dtype: float64,
 2856    NaN
 2857    1.0
 2858    1.0
 2859    0.0
 2860    0.0
 2861    1.0
 2862    0.0
 Name: #_rentals, dtype: float64,
 2863    NaN
 2864    1.0
 2865    0.0
 2866    0.0
 2867    0.0
 2868    0.0
 2869    1.0
 Name: #_rentals, dtype: float64,
 2870    NaN
 2871    0.0
 2872    2.0
 2873    1.0
 2874    1.0
 2875    2.0
 2876    0.0
 Name: #_rentals, dtype: float64,
 2877    NaN
 2878    0.0
 2879    1.0
 2880    0.0
 2881    2.0
 2882    1.0
 2883    1.0
 Name: #_rentals, dtype: float64,
 2884    NaN
 2885    0.0
 2886    1.0
 2887    0.0
 2888    2.0
 2889    0.0
 2890    0.0
 Name: #_rentals, dtype: float64,
 2891    NaN
 2892    3.0
 2893    0.0
 2894    0.0
 2895    1.0
 2896    3.0
 2897    0.0
 Name: #_rentals, dtype: float64,
 2898    NaN
 2899    1.0
 2900    0.0
 2901    0.0
 2902    1.0
 2903    0.0
 2904    1.0
 Name: #_rentals, dtype: float64,
 2905    NaN
 2906    3.0
 2907    1.0
 2908    0.0
 2909    1.0
 2910    0.0
 2911    1.0
 Name: #_rentals, dtype: float64,
 2912    NaN
 2913    0.0
 2914    1.0
 2915    0.0
 2916    0.0
 2917    0.0
 2918    0.0
 Name: #_rentals, dtype: float64,
 2919    NaN
 2920    0.0
 2921    2.0
 2922    0.0
 2923    2.0
 2924    0.0
 2925    0.0
 Name: #_rentals, dtype: float64,
 2926    NaN
 2927    0.0
 2928    1.0
 2929    0.0
 2930    0.0
 2931    2.0
 2932    0.0
 Name: #_rentals, dtype: float64,
 2933    NaN
 2934    3.0
 2935    1.0
 2936    0.0
 2937    0.0
 2938    2.0
 2939    3.0
 Name: #_rentals, dtype: float64,
 2940    NaN
 2941    3.0
 2942    1.0
 2943    0.0
 2944    4.0
 2945    1.0
 2946    0.0
 Name: #_rentals, dtype: float64,
 2947    NaN
 2948    4.0
 2949    1.0
 2950    0.0
 2951    2.0
 2952    0.0
 2953    0.0
 Name: #_rentals, dtype: float64,
 2954    NaN
 2955    2.0
 2956    0.0
 2957    1.0
 2958    0.0
 2959    0.0
 2960    0.0
 Name: #_rentals, dtype: float64,
 3605    NaN
 3606    4.0
 3607    0.0
 3608    1.0
 3609    1.0
 3610    2.0
 3611    0.0
 Name: #_rentals, dtype: float64,
 3612    NaN
 3613    0.0
 3614    0.0
 3615    0.0
 3616    2.0
 3617    1.0
 3618    0.0
 Name: #_rentals, dtype: float64,
 3619    NaN
 3620    0.0
 3621    0.0
 3622    2.0
 3623    1.0
 3624    0.0
 3625    0.0
 Name: #_rentals, dtype: float64,
 3626    NaN
 3627    0.0
 3628    1.0
 3629    0.0
 3630    0.0
 3631    0.0
 3632    0.0
 Name: #_rentals, dtype: float64,
 3633    NaN
 3634    1.0
 3635    1.0
 3636    1.0
 3637    0.0
 3638    3.0
 3639    0.0
 Name: #_rentals, dtype: float64,
 3640    NaN
 3641    0.0
 3642    0.0
 3643    0.0
 3644    0.0
 3645    3.0
 3646    1.0
 Name: #_rentals, dtype: float64,
 3647    NaN
 3648    1.0
 3649    2.0
 3650    0.0
 3651    0.0
 3652    2.0
 3653    0.0
 Name: #_rentals, dtype: float64,
 3654    NaN
 3655    0.0
 3656    0.0
 3657    0.0
 3658    2.0
 3659    2.0
 3660    0.0
 Name: #_rentals, dtype: float64,
 3661    NaN
 3662    0.0
 3663    1.0
 3664    0.0
 3665    2.0
 3666    1.0
 3667    1.0
 Name: #_rentals, dtype: float64,
 3668    NaN
 3669    0.0
 3670    0.0
 3671    2.0
 3672    1.0
 3673    2.0
 3674    0.0
 Name: #_rentals, dtype: float64,
 3675    NaN
 3676    0.0
 3677    0.0
 3678    1.0
 3679    2.0
 3680    2.0
 3681    0.0
 Name: #_rentals, dtype: float64,
 3682    NaN
 3683    0.0
 3684    0.0
 3685    2.0
 3686    1.0
 3687    4.0
 3688    0.0
 Name: #_rentals, dtype: float64,
 3689    NaN
 3690    0.0
 3691    0.0
 3692    0.0
 3693    0.0
 3694    1.0
 3695    1.0
 Name: #_rentals, dtype: float64,
 3696    NaN
 3697    1.0
 3698    0.0
 3699    0.0
 3700    1.0
 3701    2.0
 3702    1.0
 Name: #_rentals, dtype: float64,
 3703    NaN
 3704    1.0
 3705    0.0
 3706    0.0
 3707    1.0
 3708    2.0
 3709    1.0
 Name: #_rentals, dtype: float64,
 3710    NaN
 3711    0.0
 3712    0.0
 3713    0.0
 3714    2.0
 3715    2.0
 3716    0.0
 Name: #_rentals, dtype: float64,
 3717    NaN
 3718    0.0
 3719    0.0
 3720    1.0
 3721    0.0
 3722    0.0
 3723    0.0
 Name: #_rentals, dtype: float64,
 3724    NaN
 3725    0.0
 3726    0.0
 3727    0.0
 3728    0.0
 3729    0.0
 3730    0.0
 Name: #_rentals, dtype: float64,
 3731    NaN
 3732    0.0
 3733    1.0
 3734    0.0
 3735    0.0
 3736    0.0
 3737    0.0
 Name: #_rentals, dtype: float64,
 3738    NaN
 3739    0.0
 3740    0.0
 3741    0.0
 3742    2.0
 3743    1.0
 3744    0.0
 Name: #_rentals, dtype: float64,
 3745    NaN
 3746    0.0
 3747    0.0
 3748    1.0
 3749    1.0
 3750    1.0
 3751    0.0
 Name: #_rentals, dtype: float64,
 3752    NaN
 3753    0.0
 3754    0.0
 3755    1.0
 3756    0.0
 3757    1.0
 3758    0.0
 Name: #_rentals, dtype: float64,
 3759    NaN
 3760    0.0
 3761    0.0
 3762    0.0
 3763    1.0
 3764    2.0
 3765    0.0
 Name: #_rentals, dtype: float64,
 3766    NaN
 3767    1.0
 3768    1.0
 3769    0.0
 3770    0.0
 3771    0.0
 3772    0.0
 Name: #_rentals, dtype: float64,
 3773    NaN
 3774    0.0
 3775    1.0
 3776    0.0
 3777    0.0
 3778    1.0
 3779    0.0
 Name: #_rentals, dtype: float64,
 3780    NaN
 3781    0.0
 3782    0.0
 3783    0.0
 3784    1.0
 3785    2.0
 3786    0.0
 Name: #_rentals, dtype: float64,
 3787    NaN
 3788    0.0
 3789    1.0
 3790    1.0
 3791    1.0
 3792    2.0
 3793    0.0
 Name: #_rentals, dtype: float64,
 3794    NaN
 3795    0.0
 3796    1.0
 3797    1.0
 3798    0.0
 3799    0.0
 3800    0.0
 Name: #_rentals, dtype: float64,
 3801    NaN
 3802    0.0
 3803    0.0
 3804    0.0
 3805    0.0
 3806    2.0
 3807    0.0
 Name: #_rentals, dtype: float64,
 4452    NaN
 4453    0.0
 4454    0.0
 4455    0.0
 4456    1.0
 4457    0.0
 4458    1.0
 Name: #_rentals, dtype: float64,
 4459    NaN
 4460    0.0
 4461    0.0
 4462    0.0
 4463    1.0
 4464    1.0
 4465    1.0
 Name: #_rentals, dtype: float64,
 4466    NaN
 4467    0.0
 4468    0.0
 4469    1.0
 4470    1.0
 4471    2.0
 4472    0.0
 Name: #_rentals, dtype: float64,
 4473    NaN
 4474    0.0
 4475    1.0
 4476    0.0
 4477    0.0
 4478    1.0
 4479    2.0
 Name: #_rentals, dtype: float64,
 4480    NaN
 4481    0.0
 4482    0.0
 4483    0.0
 4484    0.0
 4485    0.0
 4486    1.0
 Name: #_rentals, dtype: float64,
 4487    NaN
 4488    0.0
 4489    0.0
 4490    0.0
 4491    1.0
 4492    2.0
 4493    0.0
 Name: #_rentals, dtype: float64,
 4494    NaN
 4495    0.0
 4496    0.0
 4497    0.0
 4498    1.0
 4499    2.0
 4500    1.0
 Name: #_rentals, dtype: float64,
 4501    NaN
 4502    2.0
 4503    0.0
 4504    0.0
 4505    2.0
 4506    2.0
 4507    0.0
 Name: #_rentals, dtype: float64,
 4508    NaN
 4509    2.0
 4510    1.0
 4511    2.0
 4512    2.0
 4513    3.0
 4514    0.0
 Name: #_rentals, dtype: float64,
 4515    NaN
 4516    0.0
 4517    1.0
 4518    4.0
 4519    0.0
 4520    2.0
 4521    1.0
 Name: #_rentals, dtype: float64,
 4522    NaN
 4523    1.0
 4524    1.0
 4525    0.0
 4526    1.0
 4527    1.0
 4528    0.0
 Name: #_rentals, dtype: float64,
 4529    NaN
 4530    0.0
 4531    0.0
 4532    1.0
 4533    3.0
 4534    1.0
 4535    1.0
 Name: #_rentals, dtype: float64,
 4536    NaN
 4537    0.0
 4538    0.0
 4539    0.0
 4540    0.0
 4541    0.0
 4542    0.0
 Name: #_rentals, dtype: float64,
 4543    NaN
 4544    1.0
 4545    1.0
 4546    0.0
 4547    0.0
 4548    1.0
 4549    0.0
 Name: #_rentals, dtype: float64,
 4550    NaN
 4551    1.0
 4552    0.0
 4553    0.0
 4554    1.0
 4555    2.0
 4556    0.0
 Name: #_rentals, dtype: float64,
 4557    NaN
 4558    0.0
 4559    1.0
 4560    0.0
 4561    3.0
 4562    0.0
 4563    1.0
 Name: #_rentals, dtype: float64,
 4564    NaN
 4565    0.0
 4566    0.0
 4567    0.0
 4568    1.0

In [10]:
# Creating a lag list for the month of Mar only!

lag_list_mar = []

for i in selected_rentals.ID.unique():
    for k in selected_rentals[selected_rentals.month == 3].day.unique():
        lag_list_mar.append(selected_rentals.loc[(selected_rentals.ID == i) & (selected_rentals.month == 3) & (selected_rentals.day == k), "#_rentals"].shift(1))
            
lag_list_mar

[420    NaN
 421    3.0
 422    1.0
 423    1.0
 424    0.0
 425    0.0
 426    1.0
 Name: #_rentals, dtype: float64,
 427    NaN
 428    2.0
 429    2.0
 430    0.0
 431    0.0
 432    0.0
 433    0.0
 Name: #_rentals, dtype: float64,
 434     NaN
 435     1.0
 436     1.0
 437     2.0
 438     4.0
 439    10.0
 440     2.0
 Name: #_rentals, dtype: float64,
 441    NaN
 442    4.0
 443    6.0
 444    7.0
 445    2.0
 446    2.0
 447    5.0
 Name: #_rentals, dtype: float64,
 448    NaN
 449    0.0
 450    0.0
 451    1.0
 452    3.0
 453    0.0
 454    0.0
 Name: #_rentals, dtype: float64,
 455    NaN
 456    6.0
 457    1.0
 458    1.0
 459    0.0
 460    0.0
 461    0.0
 Name: #_rentals, dtype: float64,
 462    NaN
 463    6.0
 464    1.0
 465    0.0
 466    1.0
 467    0.0
 468    0.0
 Name: #_rentals, dtype: float64,
 469    NaN
 470    1.0
 471    2.0
 472    2.0
 473    2.0
 474    2.0
 475    4.0
 Name: #_rentals, dtype: float64,
 476    NaN
 477    2.0
 478    0.0
 479    2.0
 480    1.0
 481    0.0
 482    0.0
 Name: #_rentals, dtype: float64,
 483    NaN
 484    3.0
 485    1.0
 486    6.0
 487    2.0
 488    7.0
 489    0.0
 Name: #_rentals, dtype: float64,
 490    NaN
 491    4.0
 492    0.0
 493    3.0
 494    1.0
 495    3.0
 496    2.0
 Name: #_rentals, dtype: float64,
 497    NaN
 498    4.0
 499    2.0
 500    1.0
 501    3.0
 502    2.0
 503    6.0
 Name: #_rentals, dtype: float64,
 504    NaN
 505    5.0
 506    2.0
 507    3.0
 508    1.0
 509    4.0
 510    4.0
 Name: #_rentals, dtype: float64,
 511    NaN
 512    7.0
 513    2.0
 514    2.0
 515    1.0
 516    3.0
 517    3.0
 Name: #_rentals, dtype: float64,
 518    NaN
 519    2.0
 520    3.0
 521    1.0
 522    2.0
 523    3.0
 524    3.0
 Name: #_rentals, dtype: float64,
 525    NaN
 526    1.0
 527    5.0
 528    2.0
 529    4.0
 530    6.0
 531    3.0
 Name: #_rentals, dtype: float64,
 532    NaN
 533    1.0
 534    4.0
 535    1.0
 536    4.0
 537    5.0
 538    3.0
 Name: #_rentals, dtype: float64,
 539    NaN
 540    5.0
 541    1.0
 542    2.0
 543    1.0
 544    4.0
 545    1.0
 Name: #_rentals, dtype: float64,
 546    NaN
 547    4.0
 548    2.0
 549    2.0
 550    2.0
 551    1.0
 552    3.0
 Name: #_rentals, dtype: float64,
 553    NaN
 554    4.0
 555    1.0
 556    1.0
 557    1.0
 558    0.0
 559    0.0
 Name: #_rentals, dtype: float64,
 560    NaN
 561    3.0
 562    2.0
 563    0.0
 564    2.0
 565    2.0
 566    1.0
 Name: #_rentals, dtype: float64,
 567    NaN
 568    6.0
 569    1.0
 570    1.0
 571    1.0
 572    4.0
 573    1.0
 Name: #_rentals, dtype: float64,
 574    NaN
 575    1.0
 576    0.0
 577    0.0
 578    0.0
 579    1.0
 580    1.0
 Name: #_rentals, dtype: float64,
 581    NaN
 582    1.0
 583    2.0
 584    0.0
 585    3.0
 586    2.0
 587    0.0
 Name: #_rentals, dtype: float64,
 588    NaN
 589    3.0
 590    0.0
 591    2.0
 592    1.0
 593    0.0
 594    5.0
 Name: #_rentals, dtype: float64,
 595    NaN
 596    2.0
 597    0.0
 598    1.0
 599    4.0
 600    2.0
 601    0.0
 Name: #_rentals, dtype: float64,
 602    NaN
 603    3.0
 604    0.0
 605    2.0
 606    1.0
 607    3.0
 608    2.0
 Name: #_rentals, dtype: float64,
 609    NaN
 610    0.0
 611    1.0
 612    1.0
 613    1.0
 614    3.0
 615    2.0
 Name: #_rentals, dtype: float64,
 616    NaN
 617    5.0
 618    2.0
 619    0.0
 620    4.0
 621    3.0
 622    4.0
 Name: #_rentals, dtype: float64,
 623    NaN
 624    2.0
 625    1.0
 626    1.0
 627    3.0
 628    4.0
 629    0.0
 Name: #_rentals, dtype: float64,
 630    NaN
 631    3.0
 632    0.0
 633    2.0
 634    6.0
 635    4.0
 636    2.0
 Name: #_rentals, dtype: float64,
 1267    NaN
 1268    4.0
 1269    4.0
 1270    3.0
 1271    2.0
 1272    2.0
 1273    0.0
 Name: #_rentals, dtype: float64,
 1274    NaN
 1275    2.0
 1276    0.0
 1277    0.0
 1278    0.0
 1279    0.0
 1280    0.0
 Name: #_rentals, dtype: float64,
 1281    NaN
 1282    0.0
 1283    1.0
 1284    2.0
 1285    4.0
 1286    1.0
 1287    1.0
 Name: #_rentals, dtype: float64,
 1288    NaN
 1289    5.0
 1290    0.0
 1291    4.0
 1292    0.0
 1293    2.0
 1294    1.0
 Name: #_rentals, dtype: float64,
 1295    NaN
 1296    2.0
 1297    0.0
 1298    1.0
 1299    0.0
 1300    0.0
 1301    2.0
 Name: #_rentals, dtype: float64,
 1302    NaN
 1303    7.0
 1304    1.0
 1305    1.0
 1306    0.0
 1307    0.0
 1308    1.0
 Name: #_rentals, dtype: float64,
 1309    NaN
 1310    8.0
 1311    1.0
 1312    1.0
 1313    1.0
 1314    3.0
 1315    0.0
 Name: #_rentals, dtype: float64,
 1316    NaN
 1317    6.0
 1318    2.0
 1319    2.0
 1320    3.0
 1321    3.0
 1322    0.0
 Name: #_rentals, dtype: float64,
 1323    NaN
 1324    2.0
 1325    4.0
 1326    2.0
 1327    1.0
 1328    0.0
 1329    0.0
 Name: #_rentals, dtype: float64,
 1330    NaN
 1331    0.0
 1332    4.0
 1333    0.0
 1334    1.0
 1335    2.0
 1336    2.0
 Name: #_rentals, dtype: float64,
 1337    NaN
 1338    5.0
 1339    1.0
 1340    5.0
 1341    2.0
 1342    2.0
 1343    2.0
 Name: #_rentals, dtype: float64,
 1344    NaN
 1345    4.0
 1346    1.0
 1347    3.0
 1348    1.0
 1349    2.0
 1350    3.0
 Name: #_rentals, dtype: float64,
 1351    NaN
 1352    6.0
 1353    3.0
 1354    2.0
 1355    2.0
 1356    3.0
 1357    1.0
 Name: #_rentals, dtype: float64,
 1358    NaN
 1359    2.0
 1360    3.0
 1361    4.0
 1362    4.0
 1363    7.0
 1364    1.0
 Name: #_rentals, dtype: float64,
 1365    NaN
 1366    5.0
 1367    3.0
 1368    2.0
 1369    1.0
 1370    2.0
 1371    5.0
 Name: #_rentals, dtype: float64,
 1372    NaN
 1373    5.0
 1374    2.0
 1375    1.0
 1376    4.0
 1377    2.0
 1378    0.0
 Name: #_rentals, dtype: float64,
 1379    NaN
 1380    0.0
 1381    3.0
 1382    2.0
 1383    1.0
 1384    2.0
 1385    0.0
 Name: #_rentals, dtype: float64,
 1386    NaN
 1387    9.0
 1388    0.0
 1389    2.0
 1390    2.0
 1391    2.0
 1392    4.0
 Name: #_rentals, dtype: float64,
 1393    NaN
 1394    5.0
 1395    0.0
 1396    1.0
 1397    2.0
 1398    0.0
 1399    2.0
 Name: #_rentals, dtype: float64,
 1400    NaN
 1401    8.0
 1402    3.0
 1403    0.0
 1404    3.0
 1405    1.0
 1406    2.0
 Name: #_rentals, dtype: float64,
 1407    NaN
 1408    6.0
 1409    1.0
 1410    1.0
 1411    1.0
 1412    3.0
 1413    0.0
 Name: #_rentals, dtype: float64,
 1414    NaN
 1415    2.0
 1416    4.0
 1417    1.0
 1418    1.0
 1419    1.0
 1420    4.0
 Name: #_rentals, dtype: float64,
 1421    NaN
 1422    1.0
 1423    0.0
 1424    0.0
 1425    0.0
 1426    0.0
 1427    1.0
 Name: #_rentals, dtype: float64,
 1428    NaN
 1429    2.0
 1430    1.0
 1431    2.0
 1432    1.0
 1433    1.0
 1434    2.0
 Name: #_rentals, dtype: float64,
 1435    NaN
 1436    8.0
 1437    0.0
 1438    0.0
 1439    0.0
 1440    3.0
 1441    2.0
 Name: #_rentals, dtype: float64,
 1442    NaN
 1443    5.0
 1444    1.0
 1445    1.0
 1446    2.0
 1447    6.0
 1448    1.0
 Name: #_rentals, dtype: float64,
 1449    NaN
 1450    7.0
 1451    2.0
 1452    0.0
 1453    2.0
 1454    1.0
 1455    0.0
 Name: #_rentals, dtype: float64,
 1456    NaN
 1457    4.0
 1458    0.0
 1459    0.0
 1460    0.0
 1461    0.0
 1462    4.0
 Name: #_rentals, dtype: float64,
 1463    NaN
 1464    5.0
 1465    2.0
 1466    1.0
 1467    1.0
 1468    1.0
 1469    3.0
 Name: #_rentals, dtype: float64,
 1470    NaN
 1471    3.0
 1472    1.0
 1473    4.0
 1474    2.0
 1475    2.0
 1476    2.0
 Name: #_rentals, dtype: float64,
 1477    NaN
 1478    2.0
 1479    3.0
 1480    0.0
 1481    2.0
 1482    1.0
 1483    0.0
 Name: #_rentals, dtype: float64,
 2114    NaN
 2115    2.0
 2116    2.0
 2117    1.0
 2118    2.0
 2119    4.0
 2120    1.0
 Name: #_rentals, dtype: float64,
 2121    NaN
 2122    0.0
 2123    0.0
 2124    0.0
 2125    0.0
 2126    0.0
 2127    0.0
 Name: #_rentals, dtype: float64,
 2128    NaN
 2129    1.0
 2130    2.0
 2131    6.0
 2132    5.0
 2133    2.0
 2134    2.0
 Name: #_rentals, dtype: float64,
 2135    NaN
 2136    2.0
 2137    1.0
 2138    3.0
 2139    3.0
 2140    1.0
 2141    2.0
 Name: #_rentals, dtype: float64,
 2142    NaN
 2143    0.0
 2144    0.0
 2145    0.0
 2146    0.0
 2147    0.0
 2148    0.0
 Name: #_rentals, dtype: float64,
 2149    NaN
 2150    5.0
 2151    0.0
 2152    0.0
 2153    1.0
 2154    0.0
 2155    0.0
 Name: #_rentals, dtype: float64,
 2156    NaN
 2157    2.0
 2158    1.0
 2159    1.0
 2160    2.0
 2161    1.0
 2162    1.0
 Name: #_rentals, dtype: float64,
 2163    NaN
 2164    1.0
 2165    0.0
 2166    2.0
 2167    2.0
 2168    2.0
 2169    0.0
 Name: #_rentals, dtype: float64,
 2170    NaN
 2171    0.0
 2172    2.0
 2173    0.0
 2174    1.0
 2175    0.0
 2176    0.0
 Name: #_rentals, dtype: float64,
 2177    NaN
 2178    0.0
 2179    1.0
 2180    0.0
 2181    5.0
 2182    1.0
 2183    1.0
 Name: #_rentals, dtype: float64,
 2184    NaN
 2185    0.0
 2186    1.0
 2187    1.0
 2188    2.0
 2189    3.0
 2190    3.0
 Name: #_rentals, dtype: float64,
 2191    NaN
 2192    0.0
 2193    1.0
 2194    1.0
 2195    2.0
 2196    2.0
 2197    3.0
 Name: #_rentals, dtype: float64,
 2198    NaN
 2199    9.0
 2200    0.0
 2201    1.0
 2202    0.0
 2203    2.0
 2204    1.0
 Name: #_rentals, dtype: float64,
 2205    NaN
 2206    2.0
 2207    0.0
 2208    4.0
 2209    1.0
 2210    1.0
 2211    2.0
 Name: #_rentals, dtype: float64,
 2212    NaN
 2213    1.0
 2214    0.0
 2215    2.0
 2216    2.0
 2217    0.0
 2218    2.0
 Name: #_rentals, dtype: float64,
 2219    NaN
 2220    3.0
 2221    1.0
 2222    0.0
 2223    5.0
 2224    1.0
 2225    2.0
 Name: #_rentals, dtype: float64,
 2226    NaN
 2227    3.0
 2228    0.0
 2229    3.0
 2230    2.0
 2231    2.0
 2232    0.0
 Name: #_rentals, dtype: float64,
 2233    NaN
 2234    5.0
 2235    3.0
 2236    2.0
 2237    1.0
 2238    0.0
 2239    1.0
 Name: #_rentals, dtype: float64,
 2240    NaN
 2241    4.0
 2242    3.0
 2243    0.0
 2244    0.0
 2245    3.0
 2246    1.0
 Name: #_rentals, dtype: float64,
 2247    NaN
 2248    2.0
 2249    1.0
 2250    0.0
 2251    5.0
 2252    0.0
 2253    2.0
 Name: #_rentals, dtype: float64,
 2254    NaN
 2255    2.0
 2256    0.0
 2257    1.0
 2258    2.0
 2259    0.0
 2260    2.0
 Name: #_rentals, dtype: float64,
 2261    NaN
 2262    2.0
 2263    3.0
 2264    1.0
 2265    3.0
 2266    1.0
 2267    4.0
 Name: #_rentals, dtype: float64,
 2268    NaN
 2269    0.0
 2270    0.0
 2271    0.0
 2272    0.0
 2273    0.0
 2274    0.0
 Name: #_rentals, dtype: float64,
 2275    NaN
 2276    1.0
 2277    1.0
 2278    1.0
 2279    4.0
 2280    1.0
 2281    0.0
 Name: #_rentals, dtype: float64,
 2282    NaN
 2283    1.0
 2284    3.0
 2285    2.0
 2286    0.0
 2287    1.0
 2288    1.0
 Name: #_rentals, dtype: float64,
 2289    NaN
 2290    3.0
 2291    1.0
 2292    0.0
 2293    0.0
 2294    1.0
 2295    0.0
 Name: #_rentals, dtype: float64,
 2296    NaN
 2297    3.0
 2298    0.0
 2299    3.0
 2300    1.0
 2301    0.0
 2302    1.0
 Name: #_rentals, dtype: float64,
 2303    NaN
 2304    0.0
 2305    0.0
 2306    0.0
 2307    3.0
 2308    0.0
 2309    0.0
 Name: #_rentals, dtype: float64,
 2310    NaN
 2311    4.0
 2312    0.0
 2313    1.0
 2314    3.0
 2315    6.0
 2316    1.0
 Name: #_rentals, dtype: float64,
 2317    NaN
 2318    1.0
 2319    1.0
 2320    0.0
 2321    1.0
 2322    4.0
 2323    0.0
 Name: #_rentals, dtype: float64,
 2324    NaN
 2325    0.0
 2326    1.0
 2327    6.0
 2328    4.0
 2329    3.0
 2330    3.0
 Name: #_rentals, dtype: float64,
 2961    NaN
 2962    0.0
 2963    1.0
 2964    2.0
 2965    0.0
 2966    2.0
 2967    5.0
 Name: #_rentals, dtype: float64,
 2968    NaN
 2969    0.0
 2970    0.0
 2971    0.0
 2972    0.0
 2973    0.0
 2974    1.0
 Name: #_rentals, dtype: float64,
 2975    NaN
 2976    1.0
 2977    2.0
 2978    5.0
 2979    1.0
 2980    3.0
 2981    1.0
 Name: #_rentals, dtype: float64,
 2982    NaN
 2983    3.0
 2984    1.0
 2985    2.0
 2986    0.0
 2987    0.0
 2988    2.0
 Name: #_rentals, dtype: float64,
 2989    NaN
 2990    0.0
 2991    0.0
 2992    0.0
 2993    0.0
 2994    0.0
 2995    1.0
 Name: #_rentals, dtype: float64,
 2996    NaN
 2997    1.0
 2998    1.0
 2999    0.0
 3000    0.0
 3001    0.0
 3002    0.0
 Name: #_rentals, dtype: float64,
 3003    NaN
 3004    1.0
 3005    1.0
 3006    2.0
 3007    4.0
 3008    1.0
 3009    3.0
 Name: #_rentals, dtype: float64,
 3010    NaN
 3011    1.0
 3012    1.0
 3013    0.0
 3014    2.0
 3015    1.0
 3016    1.0
 Name: #_rentals, dtype: float64,
 3017    NaN
 3018    0.0
 3019    1.0
 3020    0.0
 3021    0.0
 3022    0.0
 3023    0.0
 Name: #_rentals, dtype: float64,
 3024    NaN
 3025    0.0
 3026    0.0
 3027    1.0
 3028    1.0
 3029    1.0
 3030    0.0
 Name: #_rentals, dtype: float64,
 3031    NaN
 3032    1.0
 3033    2.0
 3034    1.0
 3035    2.0
 3036    1.0
 3037    1.0
 Name: #_rentals, dtype: float64,
 3038    NaN
 3039    2.0
 3040    3.0
 3041    3.0
 3042    2.0
 3043    2.0
 3044    1.0
 Name: #_rentals, dtype: float64,
 3045    NaN
 3046    3.0
 3047    0.0
 3048    2.0
 3049    0.0
 3050    0.0
 3051    1.0
 Name: #_rentals, dtype: float64,
 3052    NaN
 3053    3.0
 3054    1.0
 3055    0.0
 3056    1.0
 3057    1.0
 3058    2.0
 Name: #_rentals, dtype: float64,
 3059    NaN
 3060    2.0
 3061    3.0
 3062    2.0
 3063    6.0
 3064    5.0
 3065    4.0
 Name: #_rentals, dtype: float64,
 3066    NaN
 3067    0.0
 3068    8.0
 3069    1.0
 3070    7.0
 3071    1.0
 3072    0.0
 Name: #_rentals, dtype: float64,
 3073    NaN
 3074    0.0
 3075    3.0
 3076    2.0
 3077    2.0
 3078    5.0
 3079    1.0
 Name: #_rentals, dtype: float64,
 3080    NaN
 3081    2.0
 3082    2.0
 3083    1.0
 3084    0.0
 3085    3.0
 3086    0.0
 Name: #_rentals, dtype: float64,
 3087    NaN
 3088    2.0
 3089    1.0
 3090    1.0
 3091    0.0
 3092    1.0
 3093    1.0
 Name: #_rentals, dtype: float64,
 3094    NaN
 3095    4.0
 3096    1.0
 3097    1.0
 3098    2.0
 3099    3.0
 3100    1.0
 Name: #_rentals, dtype: float64,
 3101    NaN
 3102    3.0
 3103    3.0
 3104    0.0
 3105    1.0
 3106    1.0
 3107    1.0
 Name: #_rentals, dtype: float64,
 3108    NaN
 3109    1.0
 3110    1.0
 3111    0.0
 3112    0.0
 3113    1.0
 3114    1.0
 Name: #_rentals, dtype: float64,
 3115    NaN
 3116    0.0
 3117    0.0
 3118    0.0
 3119    0.0
 3120    0.0
 3121    1.0
 Name: #_rentals, dtype: float64,
 3122    NaN
 3123    0.0
 3124    1.0
 3125    0.0
 3126    2.0
 3127    0.0
 3128    0.0
 Name: #_rentals, dtype: float64,
 3129    NaN
 3130    1.0
 3131    1.0
 3132    2.0
 3133    4.0
 3134    1.0
 3135    0.0
 Name: #_rentals, dtype: float64,
 3136    NaN
 3137    2.0
 3138    1.0
 3139    0.0
 3140    2.0
 3141    2.0
 3142    0.0
 Name: #_rentals, dtype: float64,
 3143    NaN
 3144    1.0
 3145    1.0
 3146    0.0
 3147    1.0
 3148    1.0
 3149    0.0
 Name: #_rentals, dtype: float64,
 3150    NaN
 3151    1.0
 3152    0.0
 3153    0.0
 3154    1.0
 3155    0.0
 3156    0.0
 Name: #_rentals, dtype: float64,
 3157    NaN
 3158    1.0
 3159    0.0
 3160    1.0
 3161    3.0
 3162    1.0
 3163    2.0
 Name: #_rentals, dtype: float64,
 3164    NaN
 3165    0.0
 3166    0.0
 3167    3.0
 3168    4.0
 3169    0.0
 3170    1.0
 Name: #_rentals, dtype: float64,
 3171    NaN
 3172    0.0
 3173    1.0
 3174    1.0
 3175    6.0
 3176    4.0
 3177    0.0
 Name: #_rentals, dtype: float64,
 3808    NaN
 3809    0.0
 3810    0.0
 3811    0.0
 3812    1.0
 3813    0.0
 3814    0.0
 Name: #_rentals, dtype: float64,
 3815    NaN
 3816    0.0
 3817    0.0
 3818    0.0
 3819    0.0
 3820    0.0
 3821    0.0
 Name: #_rentals, dtype: float64,
 3822    NaN
 3823    0.0
 3824    0.0
 3825    1.0
 3826    1.0
 3827    1.0
 3828    0.0
 Name: #_rentals, dtype: float64,
 3829    NaN
 3830    0.0
 3831    1.0
 3832    0.0
 3833    1.0
 3834    3.0
 3835    1.0
 Name: #_rentals, dtype: float64,
 3836    NaN
 3837    0.0
 3838    0.0
 3839    0.0
 3840    0.0
 3841    1.0
 3842    0.0
 Name: #_rentals, dtype: float64,
 3843    NaN
 3844    0.0
 3845    0.0
 3846    0.0
 3847    0.0
 3848    0.0
 3849    0.0
 Name: #_rentals, dtype: float64,
 3850    NaN
 3851    0.0
 3852    1.0
 3853    0.0
 3854    0.0
 3855    3.0
 3856    0.0
 Name: #_rentals, dtype: float64,
 3857    NaN
 3858    0.0
 3859    0.0
 3860    0.0
 3861    3.0
 3862    0.0
 3863    0.0
 Name: #_rentals, dtype: float64,
 3864    NaN
 3865    0.0
 3866    2.0
 3867    0.0
 3868    0.0
 3869    0.0
 3870    0.0
 Name: #_rentals, dtype: float64,
 3871    NaN
 3872    0.0
 3873    0.0
 3874    0.0
 3875    0.0
 3876    0.0
 3877    0.0
 Name: #_rentals, dtype: float64,
 3878    NaN
 3879    0.0
 3880    0.0
 3881    0.0
 3882    1.0
 3883    1.0
 3884    1.0
 Name: #_rentals, dtype: float64,
 3885    NaN
 3886    0.0
 3887    0.0
 3888    0.0
 3889    1.0
 3890    5.0
 3891    0.0
 Name: #_rentals, dtype: float64,
 3892    NaN
 3893    1.0
 3894    3.0
 3895    0.0
 3896    4.0
 3897    3.0
 3898    0.0
 Name: #_rentals, dtype: float64,
 3899    NaN
 3900    0.0
 3901    2.0
 3902    2.0
 3903    2.0
 3904    3.0
 3905    0.0
 Name: #_rentals, dtype: float64,
 3906    NaN
 3907    0.0
 3908    1.0
 3909    0.0
 3910    1.0
 3911    0.0
 3912    0.0
 Name: #_rentals, dtype: float64,
 3913    NaN
 3914    0.0
 3915    2.0
 3916    2.0
 3917    1.0
 3918    0.0
 3919    0.0
 Name: #_rentals, dtype: float64,
 3920    NaN
 3921    0.0
 3922    0.0
 3923    1.0
 3924    1.0
 3925    2.0
 3926    1.0
 Name: #_rentals, dtype: float64,
 3927    NaN
 3928    1.0
 3929    0.0
 3930    1.0
 3931    0.0
 3932    1.0
 3933    1.0
 Name: #_rentals, dtype: float64,
 3934    NaN
 3935    0.0
 3936    1.0
 3937    0.0
 3938    0.0
 3939    3.0
 3940    0.0
 Name: #_rentals, dtype: float64,
 3941    NaN
 3942    0.0
 3943    1.0
 3944    2.0
 3945    1.0
 3946    2.0
 3947    0.0
 Name: #_rentals, dtype: float64,
 3948    NaN
 3949    0.0
 3950    0.0
 3951    0.0
 3952    1.0
 3953    1.0
 3954    0.0
 Name: #_rentals, dtype: float64,
 3955    NaN
 3956    0.0
 3957    0.0
 3958    0.0
 3959    1.0
 3960    1.0
 3961    0.0
 Name: #_rentals, dtype: float64,
 3962    NaN
 3963    0.0
 3964    0.0
 3965    0.0
 3966    0.0
 3967    0.0
 3968    0.0
 Name: #_rentals, dtype: float64,
 3969    NaN
 3970    0.0
 3971    1.0
 3972    0.0
 3973    0.0
 3974    0.0
 3975    0.0
 Name: #_rentals, dtype: float64,
 3976    NaN
 3977    0.0
 3978    0.0
 3979    0.0
 3980    0.0
 3981    1.0
 3982    1.0
 Name: #_rentals, dtype: float64,
 3983    NaN
 3984    0.0
 3985    0.0
 3986    1.0
 3987    0.0
 3988    3.0
 3989    0.0
 Name: #_rentals, dtype: float64,
 3990    NaN
 3991    0.0
 3992    0.0
 3993    1.0
 3994    0.0
 3995    2.0
 3996    0.0
 Name: #_rentals, dtype: float64,
 3997    NaN
 3998    1.0
 3999    0.0
 4000    0.0
 4001    1.0
 4002    1.0
 4003    0.0
 Name: #_rentals, dtype: float64,
 4004    NaN
 4005    0.0
 4006    0.0
 4007    1.0
 4008    0.0
 4009    0.0
 4010    0.0
 Name: #_rentals, dtype: float64,
 4011    NaN
 4012    0.0
 4013    0.0
 4014    0.0
 4015    0.0
 4016    0.0
 4017    2.0
 Name: #_rentals, dtype: float64,
 4018    NaN
 4019    0.0
 4020    0.0
 4021    0.0
 4022    1.0
 4023    2.0
 4024    0.0
 Name: #_rentals, dtype: float64,
 4655    NaN
 4656    1.0
 4657    0.0
 4658    1.0
 4659    1.0
 4660    0.0
 4661    1.0
 Name: #_rentals, dtype: float64,
 4662    NaN
 4663    0.0
 4664    0.0
 4665    0.0
 4666    0.0
 4667    0.0
 4668    0.0
 Name: #_rentals, dtype: float64,
 4669    NaN
 4670    2.0
 4671    1.0
 4672    3.0
 4673    3.0
 4674    2.0
 4675    1.0
 Name: #_rentals, dtype: float64,
 4676    NaN
 4677    1.0
 4678    1.0
 4679    0.0
 4680    3.0
 4681    0.0
 4682    2.0
 Name: #_rentals, dtype: float64,
 4683    NaN
 4684    0.0
 4685    0.0
 4686    0.0
 4687    0.0
 4688    0.0
 4689    0.0
 Name: #_rentals, dtype: float64,
 4690    NaN
 4691    0.0
 4692    0.0
 4693    0.0
 4694    0.0
 4695    0.0
 4696    0.0
 Name: #_rentals, dtype: float64,
 4697    NaN
 4698    0.0
 4699    0.0
 4700    1.0
 4701    1.0
 4702    1.0

In [11]:
# Creating a lag list for the month of Apr only!

lag_list_apr = []

for i in selected_rentals.ID.unique():
    for k in selected_rentals[selected_rentals.month == 4].day.unique():
        lag_list_apr.append(selected_rentals.loc[(selected_rentals.ID == i) & (selected_rentals.month == 4) & (selected_rentals.day == k), "#_rentals"].shift(1))
            
lag_list_apr

[637    NaN
 638    3.0
 639    0.0
 640    0.0
 641    1.0
 642    3.0
 643    4.0
 Name: #_rentals, dtype: float64,
 644    NaN
 645    4.0
 646    0.0
 647    4.0
 648    0.0
 649    0.0
 650    1.0
 Name: #_rentals, dtype: float64,
 651    NaN
 652    2.0
 653    0.0
 654    0.0
 655    0.0
 656    1.0
 657    1.0
 Name: #_rentals, dtype: float64,
 658    NaN
 659    3.0
 660    2.0
 661    1.0
 662    0.0
 663    1.0
 664    2.0
 Name: #_rentals, dtype: float64,
 665    NaN
 666    6.0
 667    2.0
 668    2.0
 669    4.0
 670    1.0
 671    4.0
 Name: #_rentals, dtype: float64,
 672    NaN
 673    0.0
 674    3.0
 675    4.0
 676    3.0
 677    5.0
 678    1.0
 Name: #_rentals, dtype: float64,
 679    NaN
 680    1.0
 681    4.0
 682    3.0
 683    2.0
 684    4.0
 685    1.0
 Name: #_rentals, dtype: float64,
 686    NaN
 687    6.0
 688    4.0
 689    5.0
 690    3.0
 691    0.0
 692    2.0
 Name: #_rentals, dtype: float64,
 693    NaN
 694    6.0
 695    5.0
 696    4.0
 697    2.0
 698    3.0
 699    6.0
 Name: #_rentals, dtype: float64,
 700    NaN
 701    5.0
 702    2.0
 703    1.0
 704    2.0
 705    3.0
 706    2.0
 Name: #_rentals, dtype: float64,
 707    NaN
 708    3.0
 709    2.0
 710    2.0
 711    1.0
 712    2.0
 713    1.0
 Name: #_rentals, dtype: float64,
 714     NaN
 715     3.0
 716     2.0
 717     2.0
 718     1.0
 719    11.0
 720     5.0
 Name: #_rentals, dtype: float64,
 721    NaN
 722    6.0
 723    3.0
 724    2.0
 725    2.0
 726    7.0
 727    0.0
 Name: #_rentals, dtype: float64,
 728    NaN
 729    0.0
 730    6.0
 731    0.0
 732    1.0
 733    7.0
 734    6.0
 Name: #_rentals, dtype: float64,
 735    NaN
 736    5.0
 737    1.0
 738    0.0
 739    7.0
 740    5.0
 741    2.0
 Name: #_rentals, dtype: float64,
 742    NaN
 743    6.0
 744    5.0
 745    5.0
 746    1.0
 747    2.0
 748    4.0
 Name: #_rentals, dtype: float64,
 749    NaN
 750    8.0
 751    2.0
 752    4.0
 753    2.0
 754    5.0
 755    3.0
 Name: #_rentals, dtype: float64,
 756    NaN
 757    3.0
 758    3.0
 759    3.0
 760    2.0
 761    3.0
 762    1.0
 Name: #_rentals, dtype: float64,
 763    NaN
 764    3.0
 765    1.0
 766    2.0
 767    4.0
 768    1.0
 769    4.0
 Name: #_rentals, dtype: float64,
 770     NaN
 771     6.0
 772     3.0
 773     5.0
 774    12.0
 775     6.0
 776     2.0
 Name: #_rentals, dtype: float64,
 777    NaN
 778    4.0
 779    0.0
 780    3.0
 781    4.0
 782    2.0
 783    0.0
 Name: #_rentals, dtype: float64,
 784    NaN
 785    3.0
 786    3.0
 787    2.0
 788    1.0
 789    2.0
 790    1.0
 Name: #_rentals, dtype: float64,
 791    NaN
 792    3.0
 793    1.0
 794    1.0
 795    3.0
 796    2.0
 797    5.0
 Name: #_rentals, dtype: float64,
 798    NaN
 799    5.0
 800    2.0
 801    2.0
 802    2.0
 803    3.0
 804    1.0
 Name: #_rentals, dtype: float64,
 805    NaN
 806    1.0
 807    1.0
 808    1.0
 809    7.0
 810    1.0
 811    2.0
 Name: #_rentals, dtype: float64,
 812    NaN
 813    3.0
 814    1.0
 815    3.0
 816    8.0
 817    8.0
 818    3.0
 Name: #_rentals, dtype: float64,
 819    NaN
 820    3.0
 821    0.0
 822    1.0
 823    6.0
 824    2.0
 825    2.0
 Name: #_rentals, dtype: float64,
 826    NaN
 827    1.0
 828    2.0
 829    5.0
 830    4.0
 831    6.0
 832    0.0
 Name: #_rentals, dtype: float64,
 833    NaN
 834    6.0
 835    0.0
 836    3.0
 837    2.0
 838    2.0
 839    2.0
 Name: #_rentals, dtype: float64,
 840    NaN
 841    4.0
 842    1.0
 843    1.0
 844    3.0
 845    5.0
 846    4.0
 Name: #_rentals, dtype: float64,
 1484    NaN
 1485    3.0
 1486    0.0
 1487    2.0
 1488    2.0
 1489    1.0
 1490    4.0
 Name: #_rentals, dtype: float64,
 1491    NaN
 1492    1.0
 1493    2.0
 1494    0.0
 1495    0.0
 1496    0.0
 1497    0.0
 Name: #_rentals, dtype: float64,
 1498    NaN
 1499    1.0
 1500    0.0
 1501    0.0
 1502    0.0
 1503    0.0
 1504    0.0
 Name: #_rentals, dtype: float64,
 1505    NaN
 1506    5.0
 1507    0.0
 1508    1.0
 1509    0.0
 1510    0.0
 1511    1.0
 Name: #_rentals, dtype: float64,
 1512    NaN
 1513    3.0
 1514    1.0
 1515    0.0
 1516    0.0
 1517    1.0
 1518    1.0
 Name: #_rentals, dtype: float64,
 1519    NaN
 1520    4.0
 1521    0.0
 1522    6.0
 1523    3.0
 1524    1.0
 1525    2.0
 Name: #_rentals, dtype: float64,
 1526    NaN
 1527    3.0
 1528    6.0
 1529    3.0
 1530    5.0
 1531    1.0
 1532    1.0
 Name: #_rentals, dtype: float64,
 1533    NaN
 1534    2.0
 1535    4.0
 1536    2.0
 1537    2.0
 1538    3.0
 1539    0.0
 Name: #_rentals, dtype: float64,
 1540     NaN
 1541    11.0
 1542     1.0
 1543     4.0
 1544     4.0
 1545     7.0
 1546     4.0
 Name: #_rentals, dtype: float64,
 1547    NaN
 1548    6.0
 1549    1.0
 1550    1.0
 1551    6.0
 1552    4.0
 1553    4.0
 Name: #_rentals, dtype: float64,
 1554    NaN
 1555    4.0
 1556    0.0
 1557    4.0
 1558    3.0
 1559    1.0
 1560    0.0
 Name: #_rentals, dtype: float64,
 1561    NaN
 1562    2.0
 1563    0.0
 1564    0.0
 1565    5.0
 1566    0.0
 1567    4.0
 Name: #_rentals, dtype: float64,
 1568    NaN
 1569    0.0
 1570    2.0
 1571    3.0
 1572    2.0
 1573    1.0
 1574    1.0
 Name: #_rentals, dtype: float64,
 1575    NaN
 1576    3.0
 1577    3.0
 1578    0.0
 1579    6.0
 1580    4.0
 1581    1.0
 Name: #_rentals, dtype: float64,
 1582    NaN
 1583    7.0
 1584    2.0
 1585    3.0
 1586    4.0
 1587    1.0
 1588    4.0
 Name: #_rentals, dtype: float64,
 1589    NaN
 1590    7.0
 1591    0.0
 1592    2.0
 1593    4.0
 1594    4.0
 1595    3.0
 Name: #_rentals, dtype: float64,
 1596    NaN
 1597    7.0
 1598    1.0
 1599    1.0
 1600    0.0
 1601    6.0
 1602    1.0
 Name: #_rentals, dtype: float64,
 1603    NaN
 1604    1.0
 1605    1.0
 1606    1.0
 1607    2.0
 1608    3.0
 1609    1.0
 Name: #_rentals, dtype: float64,
 1610    NaN
 1611    2.0
 1612    2.0
 1613    3.0
 1614    5.0
 1615    1.0
 1616    0.0
 Name: #_rentals, dtype: float64,
 1617     NaN
 1618     4.0
 1619     1.0
 1620     3.0
 1621    11.0
 1622     2.0
 1623     2.0
 Name: #_rentals, dtype: float64,
 1624    NaN
 1625    2.0
 1626    7.0
 1627    0.0
 1628    2.0
 1629    2.0
 1630    2.0
 Name: #_rentals, dtype: float64,
 1631    NaN
 1632    6.0
 1633    1.0
 1634    0.0
 1635    2.0
 1636    3.0
 1637    4.0
 Name: #_rentals, dtype: float64,
 1638    NaN
 1639    8.0
 1640    3.0
 1641    2.0
 1642    2.0
 1643    5.0
 1644    1.0
 Name: #_rentals, dtype: float64,
 1645    NaN
 1646    4.0
 1647    7.0
 1648    2.0
 1649    1.0
 1650    2.0
 1651    5.0
 Name: #_rentals, dtype: float64,
 1652    NaN
 1653    2.0
 1654    2.0
 1655    3.0
 1656    1.0
 1657    2.0
 1658    0.0
 Name: #_rentals, dtype: float64,
 1659     NaN
 1660    10.0
 1661     2.0
 1662     8.0
 1663     1.0
 1664     3.0
 1665     5.0
 Name: #_rentals, dtype: float64,
 1666    NaN
 1667    6.0
 1668    4.0
 1669    1.0
 1670    1.0
 1671    4.0
 1672    1.0
 Name: #_rentals, dtype: float64,
 1673    NaN
 1674    1.0
 1675    1.0
 1676    4.0
 1677    6.0
 1678    1.0
 1679    0.0
 Name: #_rentals, dtype: float64,
 1680    NaN
 1681    3.0
 1682    1.0
 1683    5.0
 1684    3.0
 1685    1.0
 1686    1.0
 Name: #_rentals, dtype: float64,
 1687    NaN
 1688    8.0
 1689    1.0
 1690    2.0
 1691    2.0
 1692    4.0
 1693    2.0
 Name: #_rentals, dtype: float64,
 2331    NaN
 2332    0.0
 2333    2.0
 2334    3.0
 2335    1.0
 2336    2.0
 2337    2.0
 Name: #_rentals, dtype: float64,
 2338    NaN
 2339    1.0
 2340    1.0
 2341    1.0
 2342    0.0
 2343    0.0
 2344    1.0
 Name: #_rentals, dtype: float64,
 2345    NaN
 2346    0.0
 2347    0.0
 2348    0.0
 2349    1.0
 2350    0.0
 2351    1.0
 Name: #_rentals, dtype: float64,
 2352    NaN
 2353    5.0
 2354    1.0
 2355    1.0
 2356    0.0
 2357    0.0
 2358    2.0
 Name: #_rentals, dtype: float64,
 2359    NaN
 2360    0.0
 2361    1.0
 2362    3.0
 2363    2.0
 2364    2.0
 2365    0.0
 Name: #_rentals, dtype: float64,
 2366    NaN
 2367    0.0
 2368    3.0
 2369    1.0
 2370    2.0
 2371    3.0
 2372    1.0
 Name: #_rentals, dtype: float64,
 2373    NaN
 2374    0.0
 2375    0.0
 2376    2.0
 2377    4.0
 2378    3.0
 2379    0.0
 Name: #_rentals, dtype: float64,
 2380    NaN
 2381    4.0
 2382    3.0
 2383    3.0
 2384    3.0
 2385    1.0
 2386    2.0
 Name: #_rentals, dtype: float64,
 2387    NaN
 2388    2.0
 2389    2.0
 2390    1.0
 2391    2.0
 2392    2.0
 2393    2.0
 Name: #_rentals, dtype: float64,
 2394    NaN
 2395    5.0
 2396    2.0
 2397    2.0
 2398    1.0
 2399    1.0
 2400    0.0
 Name: #_rentals, dtype: float64,
 2401    NaN
 2402    1.0
 2403    1.0
 2404    0.0
 2405    2.0
 2406    0.0
 2407    1.0
 Name: #_rentals, dtype: float64,
 2408    NaN
 2409    5.0
 2410    1.0
 2411    0.0
 2412    0.0
 2413    0.0
 2414    1.0
 Name: #_rentals, dtype: float64,
 2415    NaN
 2416    0.0
 2417    1.0
 2418    4.0
 2419    3.0
 2420    0.0
 2421    0.0
 Name: #_rentals, dtype: float64,
 2422    NaN
 2423    1.0
 2424    1.0
 2425    1.0
 2426    2.0
 2427    3.0
 2428    1.0
 Name: #_rentals, dtype: float64,
 2429    NaN
 2430    3.0
 2431    3.0
 2432    2.0
 2433    3.0
 2434    1.0
 2435    3.0
 Name: #_rentals, dtype: float64,
 2436    NaN
 2437    4.0
 2438    2.0
 2439    1.0
 2440    2.0
 2441    2.0
 2442    0.0
 Name: #_rentals, dtype: float64,
 2443    NaN
 2444    5.0
 2445    1.0
 2446    1.0
 2447    0.0
 2448    0.0
 2449    1.0
 Name: #_rentals, dtype: float64,
 2450    NaN
 2451    3.0
 2452    0.0
 2453    0.0
 2454    1.0
 2455    2.0
 2456    0.0
 Name: #_rentals, dtype: float64,
 2457    NaN
 2458    3.0
 2459    1.0
 2460    1.0
 2461    0.0
 2462    2.0
 2463    0.0
 Name: #_rentals, dtype: float64,
 2464    NaN
 2465    1.0
 2466    0.0
 2467    3.0
 2468    2.0
 2469    3.0
 2470    3.0
 Name: #_rentals, dtype: float64,
 2471    NaN
 2472    3.0
 2473    2.0
 2474    4.0
 2475    1.0
 2476    0.0
 2477    2.0
 Name: #_rentals, dtype: float64,
 2478    NaN
 2479    5.0
 2480    1.0
 2481    4.0
 2482    2.0
 2483    1.0
 2484    0.0
 Name: #_rentals, dtype: float64,
 2485    NaN
 2486    4.0
 2487    2.0
 2488    1.0
 2489    1.0
 2490    1.0
 2491    2.0
 Name: #_rentals, dtype: float64,
 2492    NaN
 2493    2.0
 2494    0.0
 2495    1.0
 2496    2.0
 2497    0.0
 2498    2.0
 Name: #_rentals, dtype: float64,
 2499    NaN
 2500    2.0
 2501    2.0
 2502    1.0
 2503    3.0
 2504    1.0
 2505    3.0
 Name: #_rentals, dtype: float64,
 2506    NaN
 2507    2.0
 2508    1.0
 2509    0.0
 2510    1.0
 2511    2.0
 2512    0.0
 Name: #_rentals, dtype: float64,
 2513    NaN
 2514    0.0
 2515    2.0
 2516    2.0
 2517    1.0
 2518    1.0
 2519    0.0
 Name: #_rentals, dtype: float64,
 2520    NaN
 2521    0.0
 2522    0.0
 2523    4.0
 2524    1.0
 2525    0.0
 2526    0.0
 Name: #_rentals, dtype: float64,
 2527    NaN
 2528    1.0
 2529    1.0
 2530    3.0
 2531    2.0
 2532    0.0
 2533    2.0
 Name: #_rentals, dtype: float64,
 2534    NaN
 2535    2.0
 2536    1.0
 2537    3.0
 2538    2.0
 2539    1.0
 2540    1.0
 Name: #_rentals, dtype: float64,
 3178    NaN
 3179    2.0
 3180    2.0
 3181    0.0
 3182    0.0
 3183    3.0
 3184    2.0
 Name: #_rentals, dtype: float64,
 3185    NaN
 3186    0.0
 3187    1.0
 3188    0.0
 3189    0.0
 3190    0.0
 3191    0.0
 Name: #_rentals, dtype: float64,
 3192    NaN
 3193    1.0
 3194    0.0
 3195    0.0
 3196    0.0
 3197    0.0
 3198    0.0
 Name: #_rentals, dtype: float64,
 3199    NaN
 3200    2.0
 3201    1.0
 3202    1.0
 3203    0.0
 3204    2.0
 3205    1.0
 Name: #_rentals, dtype: float64,
 3206    NaN
 3207    1.0
 3208    0.0
 3209    0.0
 3210    0.0
 3211    1.0
 3212    1.0
 Name: #_rentals, dtype: float64,
 3213    NaN
 3214    0.0
 3215    1.0
 3216    0.0
 3217    1.0
 3218    2.0
 3219    0.0
 Name: #_rentals, dtype: float64,
 3220    NaN
 3221    1.0
 3222    2.0
 3223    1.0
 3224    0.0
 3225    3.0
 3226    0.0
 Name: #_rentals, dtype: float64,
 3227    NaN
 3228    1.0
 3229    3.0
 3230    1.0
 3231    3.0
 3232    3.0
 3233    1.0
 Name: #_rentals, dtype: float64,
 3234    NaN
 3235    0.0
 3236    1.0
 3237    1.0
 3238    3.0
 3239    2.0
 3240    2.0
 Name: #_rentals, dtype: float64,
 3241    NaN
 3242    4.0
 3243    1.0
 3244    3.0
 3245    2.0
 3246    0.0
 3247    4.0
 Name: #_rentals, dtype: float64,
 3248    NaN
 3249    1.0
 3250    0.0
 3251    2.0
 3252    1.0
 3253    1.0
 3254    0.0
 Name: #_rentals, dtype: float64,
 3255    NaN
 3256    1.0
 3257    2.0
 3258    0.0
 3259    0.0
 3260    1.0
 3261    3.0
 Name: #_rentals, dtype: float64,
 3262    NaN
 3263    1.0
 3264    0.0
 3265    1.0
 3266    0.0
 3267    0.0
 3268    2.0
 Name: #_rentals, dtype: float64,
 3269     NaN
 3270     0.0
 3271     1.0
 3272     1.0
 3273     2.0
 3274    10.0
 3275     7.0
 Name: #_rentals, dtype: float64,
 3276    NaN
 3277    3.0
 3278    0.0
 3279    2.0
 3280    2.0
 3281    4.0
 3282    2.0
 Name: #_rentals, dtype: float64,
 3283    NaN
 3284    4.0
 3285    1.0
 3286    2.0
 3287    2.0
 3288    2.0
 3289    4.0
 Name: #_rentals, dtype: float64,
 3290    NaN
 3291    1.0
 3292    1.0
 3293    1.0
 3294    2.0
 3295    1.0
 3296    1.0
 Name: #_rentals, dtype: float64,
 3297    NaN
 3298    3.0
 3299    2.0
 3300    0.0
 3301    1.0
 3302    1.0
 3303    2.0
 Name: #_rentals, dtype: float64,
 3304    NaN
 3305    1.0
 3306    1.0
 3307    2.0
 3308    3.0
 3309    0.0
 3310    0.0
 Name: #_rentals, dtype: float64,
 3311    NaN
 3312    1.0
 3313    3.0
 3314    8.0
 3315    2.0
 3316    8.0
 3317    4.0
 Name: #_rentals, dtype: float64,
 3318    NaN
 3319    0.0
 3320    1.0
 3321    2.0
 3322    0.0
 3323    2.0
 3324    1.0
 Name: #_rentals, dtype: float64,
 3325    NaN
 3326    1.0
 3327    0.0
 3328    0.0
 3329    0.0
 3330    2.0
 3331    1.0
 Name: #_rentals, dtype: float64,
 3332    NaN
 3333    0.0
 3334    0.0
 3335    2.0
 3336    2.0
 3337    2.0
 3338    0.0
 Name: #_rentals, dtype: float64,
 3339    NaN
 3340    2.0
 3341    0.0
 3342    1.0
 3343    0.0
 3344    0.0
 3345    6.0
 Name: #_rentals, dtype: float64,
 3346    NaN
 3347    1.0
 3348    2.0
 3349    1.0
 3350    2.0
 3351    3.0
 3352    2.0
 Name: #_rentals, dtype: float64,
 3353    NaN
 3354    3.0
 3355    1.0
 3356    1.0
 3357    0.0
 3358    5.0
 3359    1.0
 Name: #_rentals, dtype: float64,
 3360    NaN
 3361    0.0
 3362    3.0
 3363    0.0
 3364    1.0
 3365    0.0
 3366    0.0
 Name: #_rentals, dtype: float64,
 3367    NaN
 3368    0.0
 3369    1.0
 3370    3.0
 3371    2.0
 3372    2.0
 3373    3.0
 Name: #_rentals, dtype: float64,
 3374    NaN
 3375    4.0
 3376    0.0
 3377    3.0
 3378    3.0
 3379    2.0
 3380    3.0
 Name: #_rentals, dtype: float64,
 3381    NaN
 3382    0.0
 3383    3.0
 3384    1.0
 3385    5.0
 3386    4.0
 3387    1.0
 Name: #_rentals, dtype: float64,
 4025    NaN
 4026    1.0
 4027    0.0
 4028    0.0
 4029    1.0
 4030    0.0
 4031    0.0
 Name: #_rentals, dtype: float64,
 4032    NaN
 4033    0.0
 4034    1.0
 4035    0.0
 4036    0.0
 4037    0.0
 4038    0.0
 Name: #_rentals, dtype: float64,
 4039    NaN
 4040    0.0
 4041    0.0
 4042    0.0
 4043    0.0
 4044    0.0
 4045    0.0
 Name: #_rentals, dtype: float64,
 4046    NaN
 4047    1.0
 4048    0.0
 4049    0.0
 4050    0.0
 4051    2.0
 4052    0.0
 Name: #_rentals, dtype: float64,
 4053    NaN
 4054    0.0
 4055    2.0
 4056    1.0
 4057    1.0
 4058    1.0
 4059    0.0
 Name: #_rentals, dtype: float64,
 4060    NaN
 4061    1.0
 4062    1.0
 4063    0.0
 4064    1.0
 4065    0.0
 4066    2.0
 Name: #_rentals, dtype: float64,
 4067    NaN
 4068    0.0
 4069    1.0
 4070    0.0
 4071    1.0
 4072    0.0
 4073    0.0
 Name: #_rentals, dtype: float64,
 4074    NaN
 4075    1.0
 4076    0.0
 4077    0.0
 4078    3.0
 4079    2.0
 4080    0.0
 Name: #_rentals, dtype: float64,
 4081    NaN
 4082    1.0
 4083    0.0
 4084    0.0
 4085    6.0
 4086    3.0
 4087    3.0
 Name: #_rentals, dtype: float64,
 4088    NaN
 4089    0.0
 4090    2.0
 4091    0.0
 4092    0.0
 4093    0.0
 4094    0.0
 Name: #_rentals, dtype: float64,
 4095    NaN
 4096    0.0
 4097    0.0
 4098    0.0
 4099    1.0
 4100    1.0
 4101    0.0
 Name: #_rentals, dtype: float64,
 4102    NaN
 4103    0.0
 4104    0.0
 4105    0.0
 4106    1.0
 4107    2.0
 4108    0.0
 Name: #_rentals, dtype: float64,
 4109    NaN
 4110    0.0
 4111    1.0
 4112    1.0
 4113    0.0
 4114    0.0
 4115    0.0
 Name: #_rentals, dtype: float64,
 4116    NaN
 4117    0.0
 4118    1.0
 4119    1.0
 4120    0.0
 4121    2.0
 4122    0.0
 Name: #_rentals, dtype: float64,
 4123    NaN
 4124    1.0
 4125    1.0
 4126    0.0
 4127    6.0
 4128    1.0
 4129    0.0
 Name: #_rentals, dtype: float64,
 4130    NaN
 4131    1.0
 4132    0.0
 4133    3.0
 4134    2.0
 4135    1.0
 4136    2.0
 Name: #_rentals, dtype: float64,
 4137    NaN
 4138    0.0
 4139    0.0
 4140    0.0
 4141    1.0
 4142    0.0
 4143    1.0
 Name: #_rentals, dtype: float64,
 4144    NaN
 4145    0.0
 4146    1.0
 4147    0.0
 4148    0.0
 4149    0.0
 4150    0.0
 Name: #_rentals, dtype: float64,
 4151    NaN
 4152    0.0
 4153    0.0
 4154    1.0
 4155    3.0
 4156    1.0
 4157    0.0
 Name: #_rentals, dtype: float64,
 4158    NaN
 4159    0.0
 4160    0.0
 4161    0.0
 4162    1.0
 4163    0.0
 4164    2.0
 Name: #_rentals, dtype: float64,
 4165    NaN
 4166    1.0
 4167    1.0
 4168    1.0
 4169    1.0
 4170    1.0
 4171    0.0
 Name: #_rentals, dtype: float64,
 4172    NaN
 4173    1.0
 4174    0.0
 4175    0.0
 4176    1.0
 4177    0.0
 4178    1.0
 Name: #_rentals, dtype: float64,
 4179    NaN
 4180    0.0
 4181    2.0
 4182    0.0
 4183    0.0
 4184    1.0
 4185    0.0
 Name: #_rentals, dtype: float64,
 4186    NaN
 4187    2.0
 4188    1.0
 4189    0.0
 4190    4.0
 4191    1.0
 4192    0.0
 Name: #_rentals, dtype: float64,
 4193    NaN
 4194    0.0
 4195    0.0
 4196    1.0
 4197    0.0
 4198    3.0
 4199    0.0
 Name: #_rentals, dtype: float64,
 4200    NaN
 4201    0.0
 4202    1.0
 4203    1.0
 4204    0.0
 4205    0.0
 4206    0.0
 Name: #_rentals, dtype: float64,
 4207    NaN
 4208    0.0
 4209    2.0
 4210    3.0
 4211    0.0
 4212    0.0
 4213    0.0
 Name: #_rentals, dtype: float64,
 4214    NaN
 4215    0.0
 4216    0.0
 4217    0.0
 4218    1.0
 4219    0.0
 4220    1.0
 Name: #_rentals, dtype: float64,
 4221    NaN
 4222    1.0
 4223    2.0
 4224    2.0
 4225    0.0
 4226    1.0
 4227    0.0
 Name: #_rentals, dtype: float64,
 4228    NaN
 4229    0.0
 4230    1.0
 4231    0.0
 4232    2.0
 4233    1.0
 4234    0.0
 Name: #_rentals, dtype: float64,
 4872    NaN
 4873    0.0
 4874    0.0
 4875    1.0
 4876    0.0
 4877    1.0
 4878    1.0
 Name: #_rentals, dtype: float64,
 4879    NaN
 4880    0.0
 4881    0.0
 4882    0.0
 4883    0.0
 4884    0.0
 4885    0.0
 Name: #_rentals, dtype: float64,
 4886    NaN
 4887    0.0
 4888    0.0
 4889    1.0
 4890    0.0
 4891    0.0
 4892    0.0
 Name: #_rentals, dtype: float64,
 4893    NaN
 4894    0.0
 4895    0.0
 4896    1.0
 4897    2.0
 4898    2.0
 4899    2.0
 Name: #_rentals, dtype: float64,
 4900    NaN
 4901    1.0
 4902    1.0
 4903    0.0
 4904    1.0
 4905    0.0
 4906    0.0
 Name: #_rentals, dtype: float64,
 4907    NaN
 4908    0.0
 4909    3.0
 4910    0.0
 4911    0.0
 4912    1.0
 4913    0.0
 Name: #_rentals, dtype: float64,
 4914    NaN
 4915    2.0
 4916    0.0
 4917    1.0
 4918    2.0
 4919    1.0
 4920    1.0
 Name: #_rentals, dtype: float64,
 4921    NaN
 4922    0.0
 4923    0.0
 4924    1.0
 4925    1.0
 4926    2.0
 4927    2.0
 Name: #_rentals, dtype: float64,
 4928    NaN
 4929    0.0
 4930    0.0
 4931    1.0
 4932    3.0
 4933    3.0
 4934    3.0
 Name: #_rentals, dtype: float64,
 4935    NaN
 4936    0.0
 4937    2.0
 4938    0.0
 4939    1.0
 4940    1.0
 4941    0.0
 Name: #_rentals, dtype: float64,
 4942    NaN
 4943    0.0
 4944    0.0
 4945    0.0
 4946    0.0
 4947    1.0
 4948    1.0
 Name: #_rentals, dtype: float64,
 4949    NaN
 4950    0.0
 4951    0.0

The data for lagged values is created in such a manner that all stations are considered for each month! So we need to sort the dataset so that all stations appear by month -- Jan, Feb, Mar, and Apr.

In [12]:
# Re-sorting the dataset by month (index is reset)

selected_rentals.sort_values(by=["month", "ID", "day"], inplace=True, ignore_index=True)
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272),NaN
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272),NaN
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272),NaN
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272),NaN

### A problem with lag list!
I tried to enter the combined lag list as a column in the *selected_rentals* dataset. However, an error was encountered. The reason for this error can be seen below.

In [13]:
# The problem:
print(len(lag_list_jan + lag_list_feb + lag_list_mar + lag_list_apr),
      len(selected_rentals))

24200 169400

In [14]:
# Where is the problem?
print(len(lag_list_jan), 
      len(selected_rentals[selected_rentals.month == 1]))

6200 43400

In [15]:
# The problem is that the list contains fragmented data

print(lag_list_jan[0],
      lag_list_jan[0][:3])

0    NaN
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: #_rentals, dtype: float64 0    NaN
1    0.0
2    0.0
Name: #_rentals, dtype: float64

In [16]:
for j in lag_list_jan[0]:
    print(j)  # Each element is a datablock!

nan
0.0
0.0
0.0
0.0
0.0
0.0

In [17]:
# Unpacking for all months

lag_list_jan_unpacked = []

for i in range(len(lag_list_jan)):
    for j in lag_list_jan[i]:
        lag_list_jan_unpacked.append(j)
        
lag_list_feb_unpacked = []

for i in range(len(lag_list_feb)):
    for j in lag_list_feb[i]:
        lag_list_feb_unpacked.append(j)

lag_list_mar_unpacked = []

for i in range(len(lag_list_mar)):
    for j in lag_list_mar[i]:
        lag_list_mar_unpacked.append(j)
        
lag_list_apr_unpacked = []

for i in range(len(lag_list_apr)):
    for j in lag_list_apr[i]:
        lag_list_apr_unpacked.append(j)

print(len(lag_list_jan_unpacked), len(lag_list_feb_unpacked), len(lag_list_mar_unpacked), len(lag_list_apr_unpacked))

43400 40600 43400 42000

In [18]:
# Now using the lag_list for generating lagged rentals
selected_rentals["#_rentals_lag_1"] = lag_list_jan_unpacked + lag_list_feb_unpacked + lag_list_mar_unpacked + lag_list_apr_unpacked
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272),0.0
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272),0.0
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272),0.0
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272),0.0

In [19]:
# Verifying for all 8am values
selected_rentals[selected_rentals.hour == 8]

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN
7,3,2024-01-02 08:00:00.000,2024,1,2,8,0,POINT (-73.9383 40.7923272),NaN
14,3,2024-01-03 08:00:00.000,2024,1,3,8,0,POINT (-73.9383 40.7923272),NaN
21,4,2024-01-04 08:00:00.000,2024,1,4,8,0,POINT (-73.9383 40.7923272),NaN
28,2,2024-01-05 08:00:00.000,2024,1,5,8,0,POINT (-73.9383 40.7923272),NaN
...,...,...,...,...,...,...,...,...,...
169365,0,2024-04-26 08:00:00.000,2024,4,26,8,2074,POINT (-73.913863 40.800933),NaN
169372,1,2024-04-27 08:00:00.000,2024,4,27,8,2074,POINT (-73.913863 40.800933),NaN
169379,0,2024-04-28 08:00:00.000,2024,4,28,8,2074,POINT (-73.913863 40.800933),NaN
169386,0,2024-04-29 08:00:00.000,2024,4,29,8,2074,POINT (-73.913863 40.800933),NaN
169393,0,2024-04-30 08:00:00.000,2024,4,30,8,2074,POINT (-73.913863 40.800933),NaN

In [20]:
# Rental values look good!
selected_rentals[selected_rentals.ID == 54]

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1
434,0,2024-01-01 08:00:00.000,2024,1,1,8,54,POINT (-73.92743647098541 40.772768286288304),NaN
435,1,2024-01-01 10:00:00.000,2024,1,1,10,54,POINT (-73.92743647098541 40.772768286288304),0.0
436,3,2024-01-01 12:00:00.000,2024,1,1,12,54,POINT (-73.92743647098541 40.772768286288304),1.0
437,2,2024-01-01 14:00:00.000,2024,1,1,14,54,POINT (-73.92743647098541 40.772768286288304),3.0
438,0,2024-01-01 16:00:00.000,2024,1,1,16,54,POINT (-73.92743647098541 40.772768286288304),2.0
...,...,...,...,...,...,...,...,...,...
128025,3,2024-04-30 12:00:00.000,2024,4,30,12,54,POINT (-73.92743647098541 40.772768286288304),1.0
128026,2,2024-04-30 14:00:00.000,2024,4,30,14,54,POINT (-73.92743647098541 40.772768286288304),3.0
128027,1,2024-04-30 16:00:00.000,2024,4,30,16,54,POINT (-73.92743647098541 40.772768286288304),2.0
128028,1,2024-04-30 18:00:00.000,2024,4,30,18,54,POINT (-73.92743647098541 40.772768286288304),1.0
128029,1,2024-04-30 20:00:00.000,2024,4,30,20,54,POINT (-73.92743647098541 40.772768286288304),1.0

### Testing baseline prediction performance 
This corrected dataset is used to evaluate what the baseline performance looks like without adding any complicated features for now. This performance can be compared with performance of models with added features to evaluate how effective those features are.

In [21]:
# Firstly, the conversion of ID col into dummies is required!

# creating dummies for ID
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1"]], columns = ["ID"], drop_first=False)
selected_rentals_dum.head()

,#_rentals,year,month,day,hour,#_rentals_lag_1,ID_0,ID_9,ID_54,ID_55,...,ID_1879,ID_1881,ID_1884,ID_2010,ID_2017,ID_2062,ID_2063,ID_2064,ID_2065,ID_2074
0,0,2024,1,1,8,NaN,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,2024,1,1,10,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,2024,1,1,12,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,2024,1,1,14,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,2024,1,1,16,0.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# Developing a training/test data for Feb

# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.722882392857143 0.2567099194968341

In [23]:
# Developing a training/test data for Mar

# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

3.9153760952380954 0.4448607863858628

### Other Features I can probably work with
Look at the notes in notebook. The **datetime** column can be used for generating those features.

#### Evaluating performance increase with *Name of Day* variable
Firstly, the name of the day is created using the datetime information. It is then converted into a dummy variable since it's categorical.

In [24]:
# Add day_of_week 
selected_rentals['name_of_day'] = pd.Series([x.day_name() for x in pd.to_datetime(selected_rentals["datetime"])])
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN,Monday
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272),0.0,Monday
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272),0.0,Monday
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272),0.0,Monday
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272),0.0,Monday

In [25]:
# creating dummies for ID and name_of_day
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "name_of_day"]], columns = ["ID", "name_of_day"], drop_first=False)
selected_rentals_dum.head()

,#_rentals,year,month,day,hour,#_rentals_lag_1,ID_0,ID_9,ID_54,ID_55,...,ID_2064,ID_2065,ID_2074,name_of_day_Friday,name_of_day_Monday,name_of_day_Saturday,name_of_day_Sunday,name_of_day_Thursday,name_of_day_Tuesday,name_of_day_Wednesday
0,0,2024,1,1,8,NaN,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,0,2024,1,1,10,0.0,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,0,2024,1,1,12,0.0,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,0,2024,1,1,14,0.0,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,0,2024,1,1,16,0.0,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [26]:
# Evaluating change in prediction performance: Feb

# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.2193783035714287 0.39415603029493884

In [27]:
# Evaluating change in prediction performance: Mar

# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

3.6642331547619045 0.4804689351535526

The advantage is clearly there for adding **name_of_day**, especially more for the February data (which was clearly needed since it had less r2 score before!)

#### Evaluating performance increase with *Weekend* variable
A *weekend* variable is created that stores binary values, depending on **name_of_day**.

In [28]:
# Declaring 0 (i.e. False) as default value
selected_rentals["weekend"] = 0

# Specifying the condition for value of 1 (i.e. True)
for i in range(len(selected_rentals)):
    if selected_rentals.loc[i, "name_of_day"] in ["Saturday", "Sunday"]:
        selected_rentals.loc[i, "weekend"] = 1
        
selected_rentals[selected_rentals.name_of_day == "Saturday"].head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day,weekend
35,2,2024-01-06 08:00:00.000,2024,1,6,8,0,POINT (-73.9383 40.7923272),NaN,Saturday,1
36,0,2024-01-06 10:00:00.000,2024,1,6,10,0,POINT (-73.9383 40.7923272),2.0,Saturday,1
37,1,2024-01-06 12:00:00.000,2024,1,6,12,0,POINT (-73.9383 40.7923272),0.0,Saturday,1
38,2,2024-01-06 14:00:00.000,2024,1,6,14,0,POINT (-73.9383 40.7923272),1.0,Saturday,1
39,2,2024-01-06 16:00:00.000,2024,1,6,16,0,POINT (-73.9383 40.7923272),2.0,Saturday,1

In [29]:
# creating dummies for ID and name_of_day
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "name_of_day", "weekend"]], columns = ["ID", "name_of_day"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.179808428571429 0.40495778054732057
3.6342633214285716 0.4847181897089573

While adding the binary *weekend* variable did not drastically improve performance, adding it in conjunction with *name_of_day* does help improve performance slightly. So, this variable can also be used as an important feature.
<br><br>
It can be concluded that some combination of <u>Day name</u> and <u>weekend indicator</u> is creating the best results, in terms of r2 score.

#### Evaluating performance increase with *public holiday* variable
There is a way to identify if a datetime object is a public holiday, in python. This should also influence **rentals** for bike-sharing systems. *is_holiday* variable is generated as a binary variable.

In [30]:
# pip install holidays
import holidays
us_holidays = holidays.US()
"2024-07-04" in us_holidays # 4th of July 2024 (American Independence Day)

True

In [31]:
# Converting datetime to dates
dates = pd.Series([x.date() for x in pd.to_datetime(selected_rentals["datetime"])])

# creating holiday as an empty list
holiday = []

# Evaluating if the stored date is a public holiday
for i in range(len(dates)):
    if dates[i] in us_holidays:
        holiday.append(1)
    else:
        holiday.append(0)

holiday[:9] # 1st Jan 2024 was a holiday, but 2nd Jan wasn't!

[1, 1, 1, 1, 1, 1, 1, 0, 0]

The first 7 values *(seven time units)* denote rental values on Jan 1st, 2024 for station ID 0. Subsequent two values are for the same station on Jan 2nd, 2024.

In [32]:
# Adding this variable as a column
selected_rentals["is_holiday"] = holiday
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day,weekend,is_holiday
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN,Monday,0,1
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1

In [33]:
# creating dummies for ID and name_of_day
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "is_holiday"]], columns = ["ID"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.716597625 0.2584255299906012
3.9179368809523805 0.4444977069439181

For the *is_holiday* variable, the performance for Feb data increased very slightly. Additionally, for the month of March the performance in fact slightly decreased. This variable is also increasing the cardinality of the dataset. <u>Hence the inclusion of this variable is optional, can be tested on the completed model</u>.

#### Evaluating performance with *2nd_lag*
Up till now only the first lag value was considered, i.e. rental value for the *t-1* time period. Now performance impact is evaluated by adding rental values as a feature for *t-2* time period.
<br><br>
More lagged rental values *(i.e. t-3, t-4, ...., t-6)* are not considered since it can lead to creation of a lot of **missing** values which contributes no valuable information to the learner!

In [34]:
# This time the month is incorporated within the loop
lag_list_two = []

# The dataset is sorted first by month, and then by ID
for i in selected_rentals.month.unique():
    for j in selected_rentals[selected_rentals.month == i].ID.unique():
        for k in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j)].day.unique():
            lag_list_two.append(selected_rentals.loc[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k), "#_rentals"].shift(2))
            
# Unpacking
lag_list_two_unpacked = []

for i in range(len(lag_list_two)):
    for j in lag_list_two[i]:
        lag_list_two_unpacked.append(j)

print(len(selected_rentals), len(lag_list_two_unpacked))

169400 169400

In [35]:
# Verifying if dataset is sorted by month and then year -- checking the index values
selected_rentals[215:220] # Yes, sorting and indexing are correct

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day,weekend,is_holiday
215,3,2024-01-31 18:00:00.000,2024,1,31,18,0,POINT (-73.9383 40.7923272),2.0,Wednesday,0,0
216,0,2024-01-31 20:00:00.000,2024,1,31,20,0,POINT (-73.9383 40.7923272),3.0,Wednesday,0,0
217,0,2024-01-01 08:00:00.000,2024,1,1,8,9,POINT (-73.94594 40.7817212),NaN,Monday,0,1
218,1,2024-01-01 10:00:00.000,2024,1,1,10,9,POINT (-73.94594 40.7817212),0.0,Monday,0,1
219,1,2024-01-01 12:00:00.000,2024,1,1,12,9,POINT (-73.94594 40.7817212),1.0,Monday,0,1

In [36]:
# Assigning the second-lagged values to a column
selected_rentals["#_rentals_lag_2"] = lag_list_two_unpacked
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day,weekend,is_holiday,#_rentals_lag_2
0,0,2024-01-01 08:00:00.000,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN,Monday,0,1,NaN
1,0,2024-01-01 10:00:00.000,2024,1,1,10,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,NaN
2,0,2024-01-01 12:00:00.000,2024,1,1,12,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0
3,0,2024-01-01 14:00:00.000,2024,1,1,14,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0
4,0,2024-01-01 16:00:00.000,2024,1,1,16,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0

In [37]:
# creating dummies for ID
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "#_rentals_lag_2"]], columns = ["ID"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.5954866964285714 0.2914862865197184
3.7900022023809523 0.46263684738115396

Here also we see a performance advantage of adding *#_rentals_lag_2*, compared to baseline performance. Hence, this can also be kept.

#### Evaluating performance for *prev_day*
The rentals today at a given time might have some relationship with rentals the previous day for the same time. This information is captured in the *prev_day* variable. <u>However this approach is going to result in some missing values for the first day of every month! Missing values negative affects model performance and should be avoided if possible</u>.

In [38]:
prev_day_list = []

for i in selected_rentals.month.unique():
    for j in selected_rentals[selected_rentals.month == i].ID.unique():
        for k in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j)].day.unique():
            for l in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k)].hour.unique():
                if k<2:
                    prev_day_list.append(np.nan)
                else:
                    prev_day_list.append(selected_rentals.loc[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k-1) & (selected_rentals.hour == l), "#_rentals"].iloc[0])
  
print(len(selected_rentals), len(prev_day_list))

169400 169400

In [39]:
# Adding this information as a column
selected_rentals["prev_day"] = prev_day_list
selected_rentals[13:23]

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day,weekend,is_holiday,#_rentals_lag_2,prev_day
13,1,2024-01-02 20:00:00.000,2024,1,2,20,0,POINT (-73.9383 40.7923272),1.0,Tuesday,0,0,7.0,0.0
14,3,2024-01-03 08:00:00.000,2024,1,3,8,0,POINT (-73.9383 40.7923272),NaN,Wednesday,0,0,NaN,3.0
15,1,2024-01-03 10:00:00.000,2024,1,3,10,0,POINT (-73.9383 40.7923272),3.0,Wednesday,0,0,NaN,0.0
16,3,2024-01-03 12:00:00.000,2024,1,3,12,0,POINT (-73.9383 40.7923272),1.0,Wednesday,0,0,3.0,6.0
17,0,2024-01-03 14:00:00.000,2024,1,3,14,0,POINT (-73.9383 40.7923272),3.0,Wednesday,0,0,1.0,6.0
18,5,2024-01-03 16:00:00.000,2024,1,3,16,0,POINT (-73.9383 40.7923272),0.0,Wednesday,0,0,3.0,7.0
19,1,2024-01-03 18:00:00.000,2024,1,3,18,0,POINT (-73.9383 40.7923272),5.0,Wednesday,0,0,0.0,1.0
20,0,2024-01-03 20:00:00.000,2024,1,3,20,0,POINT (-73.9383 40.7923272),1.0,Wednesday,0,0,5.0,1.0
21,4,2024-01-04 08:00:00.000,2024,1,4,8,0,POINT (-73.9383 40.7923272),NaN,Thursday,0,0,NaN,3.0
22,1,2024-01-04 10:00:00.000,2024,1,4,10,0,POINT (-73.9383 40.7923272),4.0,Thursday,0,0,NaN,1.0

In [40]:
# creating dummies for ID
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "prev_day"]], columns = ["ID"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.4637038214285716 0.327460261754435
3.8511207142857145 0.45397119641665507

The **prev_day** variable is also a very important feature since performance increase is considerable, compared to the baseline.

#### Evaluating performance for *prev_week* variable
There is functionaly in python to calculate the date that lies 7 days prior to the specified date as shown in the cell below. With this we can know what the rental values were for the same week of day and time, 7 days prior!

In [41]:
# Retrieving date of the previous week, for a specified date

from datetime import timedelta
pd.to_datetime("2024-01-02 20:00:00.000") - timedelta(7)

Timestamp('2023-12-26 20:00:00')

In [42]:
# Trying to convert each item in the datetime column into datetime objects
datetime_obj = [pd.to_datetime(x) for x in selected_rentals.datetime]
datetime_obj[:3]

[Timestamp('2024-01-01 08:00:00'),
 Timestamp('2024-01-01 10:00:00'),
 Timestamp('2024-01-01 12:00:00')]

In [43]:
# Re-assigning the values to datetime column
selected_rentals["datetime"] = datetime_obj
type(selected_rentals["datetime"].iloc[0]) # Simple str object is convert to Timestamp

pandas._libs.tslibs.timestamps.Timestamp

In [44]:
# How the updated item looks like
selected_rentals.datetime[0]

Timestamp('2024-01-01 08:00:00')

In [45]:
# Initiating an empty list
prev_week_list = []

# Adding rental values from the previous week
for i in selected_rentals.month.unique():
    for j in selected_rentals[selected_rentals.month == i].ID.unique():
        for k in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j)].day.unique():
            for l in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k)].hour.unique():
                if (i == 1) & (k <= 7):
                    prev_week_list.append(np.nan)
                else:
                    time_obj = selected_rentals.loc[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k) & (selected_rentals.hour == l), "datetime"].iloc[0]
                    delta_obj = time_obj - timedelta(7)        # This is a timestamp object
                    prev_week_list.append(selected_rentals.loc[(selected_rentals.month == delta_obj.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj.day) & (selected_rentals.hour == delta_obj.hour), "#_rentals"].iloc[0])
  
print(len(selected_rentals), len(prev_week_list))

169400 169400

In [46]:
# Having a look at the generated values
print(
    prev_week_list[39:48], # The first 49 values are going to be Nan
    prev_week_list[49:59] # Data is available from this section onwards
)

[nan, nan, nan, nan, nan, nan, nan, nan, nan] [0, 0, 0, 0, 0, 0, 0, 3, 0, 6]

This method will still produce some *NaN* values for the first week of Jan 2024, since no previous week data is available. But this problem is only limited to the 1st week of January 2024.

In [47]:
# Creating column for value assignment
selected_rentals["prev_week"] = prev_week_list
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day,weekend,is_holiday,#_rentals_lag_2,prev_day,prev_week
0,0,2024-01-01 08:00:00,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN,Monday,0,1,NaN,NaN,NaN
1,0,2024-01-01 10:00:00,2024,1,1,10,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,NaN,NaN,NaN
2,0,2024-01-01 12:00:00,2024,1,1,12,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0,NaN,NaN
3,0,2024-01-01 14:00:00,2024,1,1,14,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0,NaN,NaN
4,0,2024-01-01 16:00:00,2024,1,1,16,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0,NaN,NaN

In [48]:
# Verifying if the values are correct
print(
    selected_rentals.loc[(selected_rentals.ID==55)&(selected_rentals.month==2)&(selected_rentals.day==19)&(selected_rentals.hour == 16), "prev_week"].iloc[0],
    selected_rentals.loc[(selected_rentals.ID==55)&(selected_rentals.month==2)&(selected_rentals.day==12)&(selected_rentals.hour == 16), "#_rentals"].iloc[0]
)

print(
    selected_rentals.loc[(selected_rentals.ID==1881)&(selected_rentals.month==3)&(selected_rentals.day==4)&(selected_rentals.hour == 12), "prev_week"].iloc[0],
    selected_rentals.loc[(selected_rentals.ID==1881)&(selected_rentals.month==2)&(selected_rentals.day==26)&(selected_rentals.hour == 12), "#_rentals"].iloc[0]
)

# Works well!

1.0 1
1.0 1

In [49]:
# creating dummies for ID
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "prev_week"]], columns = ["ID"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.497626642857143 0.3182000393016835
4.097686583333334 0.4190120049321757

The performance has considerably improved for the February data. However it seems to go down a little for the month of March. This suggests that we might need to some **hyperparameter tuning**. For now, this feature is kept as **optional**.

### Revisiting the *prev_day* feature
It is seen in this notebook above that for this feature, there are some *NaN* values present for the first day of every month. This problem is fixed here and the prediction performance is re-evaluated.

In [50]:
# Initiating an empty list
prev_day_list = []

# Adding rental values from the previous day
for i in selected_rentals.month.unique():
    for j in selected_rentals[selected_rentals.month == i].ID.unique():
        for k in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j)].day.unique():
            for l in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k)].hour.unique():
                if (i == 1) & (k == 1):
                    prev_day_list.append(np.nan)
                else:
                    time_obj = selected_rentals.loc[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k) & (selected_rentals.hour == l), "datetime"].iloc[0]
                    delta_obj = time_obj - timedelta(1)        # This is a timestamp object
                    prev_day_list.append(selected_rentals.loc[(selected_rentals.month == delta_obj.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj.day) & (selected_rentals.hour == delta_obj.hour), "#_rentals"].iloc[0])
  
print(len(selected_rentals), len(prev_day_list))

169400 169400

In [51]:
# Re-assigning values in the prev_day column
selected_rentals["prev_day"] = prev_day_list

In [52]:
# creating dummies for ID
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "prev_day"]], columns = ["ID"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.4757876249999997 0.3241616355071344
3.8568653214285717 0.4531567007936965

### What does performance in combined feature space look like?
Combining all the relavant features to see what r2 score is being produced, for both Feb and Mar data.

In [53]:
# creating dummies for ID and name_of_day
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "name_of_day", "weekend", "#_rentals_lag_2", "prev_day", "prev_week"]], columns = ["ID", "name_of_day"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.184174625 0.4037659000226975
3.683919130952381 0.4776777710161154

The performance for both months is still under 0.5. This means that spatio-temporal features are also required for better performance. In addition, tuning might gain more performance. Both of these steps should lead to an r2 score of > 0.5, but this remains to be seen!
<br><br>
After doing some research if only spatial and temporal information is used, then even after using deep learning methods such as LSTM the expected prediction performance is likely to lie in the window ***R2 score: between 0.5 and 0.7***. <br> It is a false belief that good performance can only be achieved with deep learning frameworks. In reality, traditional models can work equally well or even outperform deep learning based methods.

### Adding even more features
#### Rolling Average
Up till now, we have considered time lag values in hour, day and week. Now we can also consider a rolling average of rentals over previous seven days for a given hour. For example, for *hour 10* what was the average for this hour for the last 7 days. The average is rolling with each passing day.

In [54]:
# Initiating an empty list
roll_avg_list = []

# Adding avg rental values from previous 7 days
for i in selected_rentals.month.unique():
    for j in selected_rentals[selected_rentals.month == i].ID.unique():
        for k in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j)].day.unique():
            for l in selected_rentals[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k)].hour.unique():
                if (i == 1) & (k <= 7):
                    roll_avg_list.append(np.nan) # Values will be missing for the first week of Jan
                else:
                    time_obj = selected_rentals.loc[(selected_rentals.month == i) & (selected_rentals.ID == j) & (selected_rentals.day == k) & (selected_rentals.hour == l), "datetime"].iloc[0]
                    delta_obj_1 = time_obj - timedelta(1)        # This is a timestamp object
                    delta_obj_2 = time_obj - timedelta(2)        # This is a timestamp object
                    delta_obj_3 = time_obj - timedelta(3)        # This is a timestamp object
                    delta_obj_4 = time_obj - timedelta(4)        # This is a timestamp object
                    delta_obj_5 = time_obj - timedelta(5)        # This is a timestamp object
                    delta_obj_6 = time_obj - timedelta(6)        # This is a timestamp object
                    delta_obj_7 = time_obj - timedelta(7)        # This is a timestamp object
                    rental_1 = selected_rentals.loc[(selected_rentals.month == delta_obj_1.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj_1.day) & (selected_rentals.hour == delta_obj_1.hour), "#_rentals"].iloc[0]
                    rental_2 = selected_rentals.loc[(selected_rentals.month == delta_obj_2.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj_2.day) & (selected_rentals.hour == delta_obj_2.hour), "#_rentals"].iloc[0]
                    rental_3 = selected_rentals.loc[(selected_rentals.month == delta_obj_3.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj_3.day) & (selected_rentals.hour == delta_obj_3.hour), "#_rentals"].iloc[0]
                    rental_4 = selected_rentals.loc[(selected_rentals.month == delta_obj_4.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj_4.day) & (selected_rentals.hour == delta_obj_4.hour), "#_rentals"].iloc[0]
                    rental_5 = selected_rentals.loc[(selected_rentals.month == delta_obj_5.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj_5.day) & (selected_rentals.hour == delta_obj_5.hour), "#_rentals"].iloc[0]
                    rental_6 = selected_rentals.loc[(selected_rentals.month == delta_obj_6.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj_6.day) & (selected_rentals.hour == delta_obj_6.hour), "#_rentals"].iloc[0]
                    rental_7 = selected_rentals.loc[(selected_rentals.month == delta_obj_7.month) & (selected_rentals.ID == j) & (selected_rentals.day == delta_obj_7.day) & (selected_rentals.hour == delta_obj_7.hour), "#_rentals"].iloc[0]
                    roll_avg_list.append(np.mean([rental_1, rental_2, rental_3, rental_4, rental_5, rental_6, rental_7])) # rolling average
  
print(len(selected_rentals), len(roll_avg_list))

169400 169400

In [55]:
# Assigning it to a column in the dataset
selected_rentals["roll_avg"] = roll_avg_list

In [56]:
# creating dummies for ID
selected_rentals_dum = pd.get_dummies(selected_rentals[["#_rentals", "year", "month", "day", "hour", "ID", "#_rentals_lag_1", "roll_avg"]], columns = ["ID"], drop_first=False)

# Evaluating change in prediction performance: Feb
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 2), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

# Evaluating change in prediction performance: Mar
# training data
X_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_train = selected_rentals_dum.loc[(selected_rentals_dum["day"] <=25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

X_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3),list(selected_rentals_dum.columns)[1:]]
y_test = selected_rentals_dum.loc[(selected_rentals_dum["day"] >25) & (selected_rentals_dum["month"] == 3), "#_rentals"]

# training the model
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(random_state=2) 
forest.fit(X_train, y_train)

# testing performance
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
y_test_pred = forest.predict(X_test)
print(mean_squared_error(y_test, y_test_pred),r2_score(y_test, y_test_pred))

2.3313080892857143 0.3636015342019311
3.8761801904761906 0.45041815385635486

Rolling average results in considerable increase from baseline performance. This means it's a very strong and important feature in predicting rentals!

In [57]:
selected_rentals.head()

,#_rentals,datetime,year,month,day,hour,ID,coordinates,#_rentals_lag_1,name_of_day,weekend,is_holiday,#_rentals_lag_2,prev_day,prev_week,roll_avg
0,0,2024-01-01 08:00:00,2024,1,1,8,0,POINT (-73.9383 40.7923272),NaN,Monday,0,1,NaN,NaN,NaN,NaN
1,0,2024-01-01 10:00:00,2024,1,1,10,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,NaN,NaN,NaN,NaN
2,0,2024-01-01 12:00:00,2024,1,1,12,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0,NaN,NaN,NaN
3,0,2024-01-01 14:00:00,2024,1,1,14,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0,NaN,NaN,NaN
4,0,2024-01-01 16:00:00,2024,1,1,16,0,POINT (-73.9383 40.7923272),0.0,Monday,0,1,0.0,NaN,NaN,NaN

In [58]:
# Exporting the df with temporal features for later use:
selected_rentals.to_csv('rentals_solving_the_problem_with_lag_var.csv', index=False)